Repository maydayv7/dotfiles: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check, shell

.gitlab/pipelines/check.yml:

# Check Nix Syntax
check:
  stage: check
  only:
    changes:
      - '*.nix'
      - "**/*.nix"
  except:
    - tags
    - schedules
  script: nix flake check --keep-going

.gitlab/pipelines/shell.yml:

# Check Nix Developer Shells
shell:
  stage: check
  only:
    changes:
      - 'shells/*'
  variables:
    CACHIX_AUTH_TOKEN: $CACHIX_TOKEN
    CACHIX_CACHE_NAME: maydayv7-dotfiles
  parallel:
    matrix:
      - DEVSHELL: [java, video]
  before_script:
    - nix profile install nixpkgs#cachix
    - cachix use $CACHIX_CACHE_NAME
  script: cachix watch-exec $CACHIX_CACHE_NAME nix develop .#$DEVSHELL

feat(ci): Add GitHub Actions
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/help-request.md
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/check.yml
  .github/workflows/release.yml
  .github/workflows/shell.yml
  .github/workflows/update.yml
  .github/workflows/website.yml
Due: none

docs: Update README
  README.md
  flake.nix
  packages/dotfiles.nix
  secrets/README.md
  site/content/blog/flakes.md
  site/content/blog/nix.md
  site/content/now.md
Due: check

deploy: e8d9be70e9ca6661932285b7aa8d1f32a0840141
  archive/index.html
  blog/hello/index.html
  blog/index.html
  blog/nix/index.html
  blog/rss.xml
  index.html
  now/index.html
  search_index.en.js
  series/nixos-desktop/index.html
  series/nixos-desktop/rss.xml
  tags/linux/index.html
  tags/linux/rss.xml
  tags/nix/index.html
  tags/nix/rss.xml
  tags/nixos/index.html
  tags/nixos/rss.xml
Due: none

feat(site): Improve Styling
  README.md
  flake.lock
  site/content/blog/hello.md
  site/content/blog/nix.md
  site/sass/_footer.scss
  site/sass/_main.scss
  site/sass/_post.scss
  site/static/js/scroll.js
  site/templates/macros/javascript.html
  site/templates/page.html
Due: none

deploy: 4bda11e6d3ac2077091aff9aacf54e2767a687c6
  404.html
  about/index.html
  archive/index.html
  blog/hello/index.html
  blog/index.html
  blog/nix/index.html
  blog/rss.xml
  feeds/index.html
  index.html
  js/scroll.js
  now/index.html
  projects/index.html
  search_index.en.js
  series/index.html
  series/nixos-desktop/index.html
  series/nixos-desktop/rss.xml
  style.css
  tags/index.html
  tags/linux/index.html
  tags/linux/rss.xml
  tags/misc/index.html
  tags/misc/rss.xml
  tags/nix/index.html
  tags/nix/rss.xml
  tags/nixos/index.html
  tags/nixos/rss.xml
Due: none

ci: Polish Pipelines
  .github/workflows/update.yml
  .gitlab/pipelines/website.yml
Due: none

fix: Revamp `nixosModules`
  configuration.nix
  files/default.nix
  files/gnome/iso
  lib/build.nix
  modules/default.nix
  modules/gui/gnome.nix
  modules/hardware/filesystem.nix
Due: check

feat(site): Add Test Page
  .gitlab/pipelines/website.yml
  README.md
  site/content/anime.md
  site/content/blog/hello.md
  site/content/blog/nix.md
  site/content/now.md
  site/content/sample.md
  site/sass/_main.scss
  site/sass/_post.scss
Due: none

deploy: 2e6eac7e9f1e99d33e3595b97c6c351ca829ceb6
  anime/index.html
  archive/index.html
  blog/hello/index.html
  blog/index.html
  blog/nix/index.html
  blog/rss.xml
  now/index.html
  sample/index.html
  search_index.en.js
  series/nixos-desktop/rss.xml
  sitemap.xml
  style.css
  tags/linux/rss.xml
  tags/misc/index.html
  tags/misc/rss.xml
  tags/nix/rss.xml
  tags/nixos/rss.xml
Due: none

fix: Allow Insecure Packages
  flake.lock
  lib/build.nix
  modules/nix/config.nix
Due: check

feat(vscode): Support Remote SSH Sessions
  files/gnome/dconf.nix
  flake.lock
  flake.nix
  modules/apps/firefox.nix
  modules/apps/vscode.nix
Due: check

blog(anime): Update List
  site/content/anime.md
  site/sass/_main.scss
Due: none

deploy: 9c92b58bb1eea6e916d0cfe515cdd0faccb07855
  anime/index.html
  search_index.en.js
  style.css
Due: none

feat(firefox): Tweak Flags
  modules/apps/firefox.nix
  modules/apps/wine.nix
Due: check

ci: Prevent Running Out of Space
  .github/workflows/build.yml
  .github/workflows/check.yml
Due: none

chore: Upgrade Nix Version
  configuration.nix
  files/gnome/nix.lang
  packages/overlays/nixFlakes.nix
Due: check

style: Use `treefmt` to Format Code
  README.md
  configuration.nix
  files/git/hooks/pre-commit
  modules/apps/git/default.nix
  scripts/README.md
  scripts/nixos.nix
  shells/default.nix
  site/content/anime.md
  treefmt.toml
Due: check, shell

deploy: 93f9f8dbc4e27d2d1b4f66169c3e45ff7bde9631
  anime/index.html
  search_index.en.js
Due: none

style: Improve Logo
  README.md
  files/images/logo.png
  files/images/logo/dark.png
  files/images/logo/light.png
Due: none

fix: Refine `boot` Module
  devices/Futura.nix
  devices/Vortex.nix
  modules/default.nix
  modules/hardware/boot.nix
Due: check

fix(flake.lock): `wine` follows `compatibility`
  flake.lock
  flake.nix
Due: check

refactor: Bifurcate `templates`
  .templates/default.nix
  configuration.nix
  site/content/anime.md
Due: check

deploy: f2d2d480935cfdfcd32656de21c9d4c8faaefc0e
  anime/index.html
  search_index.en.js
Due: none

fix: Trust `git` Directory
  files/vscode/settings.json
  modules/apps/git/default.nix
Due: check

feat(lib): Add `map.array`
  lib/README.md
  lib/map.nix
  modules/default.nix
  modules/nix/default.nix
  modules/nix/format.nix
  packages/overlays/miscellaneous.nix
  scripts/nixos.nix
  shells/format.nix
  site/content/anime.md
Due: check, shell

deploy: 73fb4b76a50f05abe674c920d3b6e591ba9a79ce
  anime/index.html
  search_index.en.js
Due: none

feat!: Upgrade to NixOS v22.05 (Quokka)
  .version
  README.md
  files/vscode/settings.json
  flake.lock
  flake.nix
  modules/nix/default.nix
  packages/dotfiles.nix
  packages/overlays/nixFlakes.nix
  scripts/nixos.nix
  shells/format.nix
Due: check, shell

fix: Build Successfully
  modules/gui/gnome.nix
  modules/shell/default.nix
  packages/wine/7zip.nix
Due: check

fix: Refine GNOME Desktop Configuration
  files/default.nix
  files/gnome/dconf.nix
  files/gnome/gnome-shell.css
  modules/default.nix
  modules/gui/gnome.nix
  modules/user/default.nix
  packages/adw-gtk3.nix
  packages/firefox-gnome-theme/metadata.nix
  packages/overlays/gnome-terminal.nix
  packages/overlays/miscellaneous.nix
  shells/format.nix
Due: check, shell

fix: Improve GNOME Experience
  README.md
  files/gnome/dconf.nix
  files/images/desktop.png
  flake.lock
  modules/base/console.nix
  modules/gui/gnome.nix
  modules/hardware/filesystem.nix
  packages/fly-pie.nix
  packages/overlays/mutter-rounded.nix
  packages/top-bar-organizer.nix
  site/content/now.md
Due: check

feat!: Upgrade to NixOS v22.05 (Quokka)
  .version
  README.md
  files/default.nix
  files/gnome/dconf.nix
  files/gnome/gnome-shell.css
  files/images/desktop.png
  files/vscode/settings.json
  flake.lock
  flake.nix
  modules/base/console.nix
  modules/default.nix
  modules/gui/gnome.nix
  modules/hardware/filesystem.nix
  modules/nix/default.nix
  modules/shell/default.nix
  modules/user/default.nix
  packages/adw-gtk3.nix
  packages/dotfiles.nix
  packages/firefox-gnome-theme/metadata.nix
  packages/fly-pie.nix
  packages/overlays/gnome-terminal.nix
  packages/overlays/miscellaneous.nix
  packages/overlays/mutter-rounded.nix
  packages/overlays/nixFlakes.nix
  packages/top-bar-organizer.nix
  packages/wine/7zip.nix
  scripts/nixos.nix
  shells/format.nix
  site/content/now.md
Due: check, shell

deploy: 2b997c4bf99ace2de97bfc49a4234052735066ea
  blog/hello/index.html
  blog/index.html
  blog/rss.xml
  index.html
  now/index.html
  projects/index.html
  sample/index.html
  search_index.en.js
  tags/misc/rss.xml
Due: none

fix: Routine Changes
  README.md
  files/default.nix
  modules/apps/firefox.nix
  modules/gui/gnome.nix
  packages/overlays/discord.nix
  site/content/anime.md
  users/navya.nix
  users/v7/accounts.conf
  users/v7/default.nix
Due: check

deploy: 440726817fe20bc8df67bb742814eb850964bca4
  anime/index.html
  sample/index.html
  search_index.en.js
Due: none

fix(ci): Update branch name
  .github/workflows/update.yml
Due: none

deploy: 1b298a907b31420c467c6acea8bec0b66fbc444d
  sample/index.html
  search_index.en.js
Due: none

deploy: ec1d080e9412c12bebb0d71c5c381a599c81be1d
  sample/index.html
  search_index.en.js
Due: none

fix: Minor Fixes
  README.md
  files/xdg/mime.nix
  modules/nix/checks.nix
Due: check

chore(flake.lock): Update `inputs`
  README.md
  configuration.nix
  files/xdg/mime.nix
  flake.lock
  modules/nix/checks.nix
Due: check
