Repository maydayv7/dotfiles: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check, shell, website

check:
  stage: check
  script: nix flake check --keep-going

shell:
  stage: check
  variables:
    CACHIX_AUTH_TOKEN: $CACHIX_TOKEN
    CACHIX_CACHE_NAME: maydayv7-dotfiles
  parallel:
    matrix:
    - DEVSHELL:
      - java
      - video
  before_script:
  - nix profile install nixpkgs#cachix
  - cachix use $CACHIX_CACHE_NAME
  ...

website:
  stage: publish
  script: nix build .#website
  after_script:
  - mkdir -p archive
  - cp -r ./result/* archive
  artifacts:
    paths:
    - archive/*

fix: Emoji Support 😎
  files/README.md
  files/default.nix
  files/fonts/fontconfig.xml
  files/gnome/dconf.nix
  files/gnome/shortcuts.json
  modules/README.md
  modules/apps/office.nix
  modules/gui/desktop/gnome.nix
  modules/gui/fonts.nix
  netlify.toml
  scripts/nixos.nix
Due: check

fix: Netlify Build
  netlify.toml
Due: none

feat: Update to Latest
  README.md
  devices/Vortex/default.nix
  modules/apps/office.nix
  modules/default.nix
  modules/gui/desktop/gnome.nix
  modules/gui/desktop/xfce.nix
  modules/gui/theme.nix
  modules/hardware/virtualisation/default.nix
  packages/overlays/discord.nix
Due: check

fix: Console Font
  modules/base/console.nix
Due: check

feat: Support declarative Flatpak app install
  README.md
  flake.lock
  flake.nix
  modules/README.md
  modules/apps/flatpak.nix
  modules/gui/desktop/gnome.nix
Due: check

refactor!: Use `flake-parts`
  .templates/default.nix
  .templates/flake.nix
  README.md
  configuration.nix
  devices/README.md
  devices/Vortex/secrets/default.nix
  devices/flake.nix
  files/default.nix
  files/flake.nix
  flake.lock
  flake.nix
  lib/README.md
  lib/build.nix
  lib/default.nix
  lib/map.nix
  lib/pack.nix
  modules/apps/default.nix
  modules/apps/discord.nix
  modules/apps/firefox.nix
  modules/apps/vscode.nix
  modules/apps/wine.nix
  modules/base/default.nix
  modules/configuration.nix
  modules/flake.nix
  modules/gui/default.nix
  modules/gui/desktop/gnome.nix
  modules/gui/desktop/xfce.nix
  modules/hardware/default.nix
  modules/nix/checks.nix
  modules/nix/default.nix
  modules/shell/default.nix
  modules/user/default.nix
  modules/user/security.nix
  packages/dotfiles.nix
  packages/flake.nix
  packages/wine/7zip.nix
  scripts/nixos.nix
  secrets/default.nix
  shells/flake.nix
  users/default.nix
Due: check, shell

feat: Improve Syntax Formatting with `treefmt-nix`
  .prettierignore
  .prettierrc
  README.md
  files/git/hooks/pre-commit
  flake.lock
  flake.nix
  modules/nix/checks.nix
  modules/nix/default.nix
  modules/nix/format.nix
  modules/nix/tools.nix
  packages/overlays/miscellaneous.nix
  scripts/nixos.nix
  shells/flake.nix
  shells/format.nix
  treefmt.toml
Due: check, shell

feat!: Upgrade to NixOS 23.11 Tapir
  README.md
  files/gnome/dconf.nix
  files/gnome/shortcuts.json
  files/vscode/keybindings.json
  flake.lock
  flake.nix
  modules/apps/office.nix
  modules/gui/desktop/gnome.nix
  modules/shell/zsh.nix
  packages/README.md
  packages/flake.nix
  packages/overlays/discord.nix
  packages/overlays/google-chrome.nix
  packages/patches/.keep
  packages/patches/gscan2pdf.patch
  scripts/packages.sh
Due: check

refactor: Add `flake.nix` to `site`
  README.md
  devices/Vortex/default.nix
  modules/nix/format.nix
  packages/website.nix
  site/default.nix
  site/flake.nix
Due: check, website

chore: Update `sops` input
  flake.lock
  flake.nix
Due: check

refactor: Separate `games` module
  README.md
  devices/Vortex/default.nix
  files/gnome/dconf.nix
  modules/README.md
  modules/apps/games.nix
  modules/apps/wine.nix
  modules/gui/desktop/gnome.nix
  modules/gui/desktop/xfce.nix
Due: check

refactor: Separate `hardware.laptop` module
  README.md
  devices/Futura.nix
  devices/Vortex/default.nix
  files/gnome/dconf.nix
  files/gnome/menu.json
  flake.lock
  flake.nix
  modules/README.md
  modules/base/default.nix
  modules/base/firmware.nix
  modules/gui/desktop/gnome.nix
  modules/gui/fonts.nix
  modules/hardware/laptop.nix
  modules/hardware/mobile.nix
  packages/overlays/discord.nix
Due: check

feat!: Update to Nix 2.19
  .github/workflows/build.yml
  .github/workflows/check.yml
  .github/workflows/release.yml
  .github/workflows/shell.yml
  .github/workflows/update.yml
  .github/workflows/website.yml
  .gitignore
  README.md
  files/flake.nix
  modules/base/default.nix
  modules/nix/default.nix
  modules/user/home.nix
  netlify.toml
  packages/overlays/nixFlakes.nix
  scripts/README.md
  scripts/colors.sh
  scripts/commands.sh
  scripts/mail.sh
  scripts/nixos.nix
  scripts/packages.sh
  scripts/partitions.sh
  scripts/pci.sh
  secrets/README.md
  secrets/secrets.yaml
  users/default.nix
Due: check

refactor: Drop `.templates`
  .templates/README.md
  .templates/flake.nix
  .templates/minimal/.gitignore
  .templates/minimal/flake.nix
  README.md
  devices/flake.nix
  flake.nix
  lib/README.md
  lib/build.nix
  lib/default.nix
  lib/map.nix
  lib/pack.nix
  packages/dotfiles.nix
  packages/flake.nix
  scripts/README.md
  scripts/commands.sh
  scripts/mail.sh
  scripts/nixos.nix
  scripts/packages.sh
  scripts/partitions.sh
  scripts/pci.sh
  users/README.md
Due: check

docs: Update images
  README.md
  files/images/desktop/gnome.png
  files/images/desktop/old/gnome_41.png
  files/images/desktop/old/gnome_44.png
  modules/apps/discord.nix
  modules/configuration.nix
  modules/user/home.nix
Due: check

feat: Change Nix LSP
  README.md
  files/vscode/settings.json
  modules/apps/vscode.nix
  modules/base/default.nix
Due: check

feat: Apply Security Settings by default
  README.md
  devices/Vortex/default.nix
  devices/flake.nix
  flake.lock
  flake.nix
  modules/README.md
  modules/apps/office.nix
  modules/apps/wine.nix
  modules/base/security.nix
  modules/configuration.nix
  modules/hardware/filesystem.nix
  modules/nix/default.nix
  modules/shell/bash.nix
  modules/shell/default.nix
  modules/shell/zsh.nix
  modules/user/default.nix
  packages/flake.nix
Due: check

feat: Enable Secure Boot
  README.md
  devices/Vortex/default.nix
  flake.lock
  flake.nix
  modules/README.md
  modules/hardware/boot.nix
Due: check

docs: Add README for hardware
  README.md
  modules/hardware/README.md
Due: none

fix: Fix `path.system` Permissions
  README.md
  files/README.md
  files/flake.nix
  files/repl.nix
  flake.lock
  modules/apps/git/default.nix
  modules/hardware/filesystem.nix
  netlify.toml
  packages/default.nix
Due: check

refactor!: Overhaul `lib.map`
  .github
  README.md
  checks/flake.nix
  checks/github/ISSUE_TEMPLATE/bug-report.md
  checks/github/ISSUE_TEMPLATE/feature-request.md
  checks/github/ISSUE_TEMPLATE/help-request.md
  checks/github/dependabot.yml
  checks/github/workflows/build.yml
  checks/github/workflows/check.yml
  checks/github/workflows/release.yml
  checks/github/workflows/shell.yml
  checks/github/workflows/update.yml
  checks/github/workflows/website.yml
  checks/gitlab/.gitlab-ci.yml
  checks/gitlab/.gitlab-webide.yml
  checks/gitlab/issue_templates/Bug.md
  checks/gitlab/issue_templates/Feature.md
  checks/gitlab/issue_templates/Help.md
  checks/gitlab/pipelines/build.yml
  checks/gitlab/pipelines/check.yml
  checks/gitlab/pipelines/release.yml
  checks/gitlab/pipelines/shell.yml
  checks/gitlab/pipelines/update.yml
  checks/gitlab/pipelines/website.yml
  files/flake.nix
  flake.nix
  lib/README.md
  lib/map.nix
  modules/apps/default.nix
  modules/apps/git/default.nix
  modules/base/default.nix
  modules/gui/default.nix
  modules/gui/desktop/xfce.nix
  modules/hardware/default.nix
  modules/shell/default.nix
  modules/user/default.nix
  shells/flake.nix
  site/README.md
  users/default.nix
Due: check, shell, website

ci: Fix Workflows
  .github
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/help-request.md
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/check.yml
  .github/workflows/release.yml
  .github/workflows/shell.yml
  .github/workflows/update.yml
  .github/workflows/website.yml
  checks/github
Due: none

fix: Miscellaneous Fixes
  checks/flake.nix
  devices/Vortex/secrets/default.nix
  devices/flake.nix
  lib/map.nix
  modules/user/security.nix
  scripts/nixos.nix
  secrets/default.nix
  secrets/github-token.secret
  secrets/gitlab-token.secret
  secrets/secrets.yaml
  shells/default.nix
  shells/flake.nix
  shells/go.nix
  shells/lisp.nix
  site/flake.nix
Due: check, shell, website

fix: Update CI
  .github/workflows/shell.yml
  checks/gitlab/.gitlab-ci.yml
  checks/gitlab/pipelines/shell.yml
  flake.nix
Due: check

refactor!: Secrets Imports
  .github/workflows/build.yml
  .gitignore
  README.md
  checks/gitlab/pipelines/build.yml
  checks/gitlab/pipelines/shell.yml
  devices/Vortex/secrets/default.nix
  devices/futura.nix
  devices/vortex.nix
  scripts/nixos.nix
  secrets/README.md
  secrets/default.nix
  secrets/secrets.yaml
  secrets/vortex/cloudflare.secret
  secrets/vortex/github-runner.secret
  secrets/vortex/gitlab-runner.secret
Due: check

fix: Add boot recovery settings
  README.md
  modules/hardware/README.md
  modules/hardware/boot.nix
  modules/hardware/filesystem.nix
  packages/flake.nix
Due: check

fix: Dead Code
  checks/flake.nix
  devices/flake.nix
  files/gnome/dconf.nix
  modules/apps/games.nix
  modules/apps/vscode.nix
  modules/gui/desktop/gnome.nix
  modules/gui/wayland.nix
  modules/hardware/virtualisation/default.nix
  modules/nix/config.nix
  modules/nix/index.nix
  scripts/nixos.nix
Due: check

feat: Separate `install` Script
  README.md
  devices/flake.nix
  files/flake.nix
  lib/pack.nix
  modules/base/console.nix
  modules/base/default.nix
  modules/configuration.nix
  modules/hardware/filesystem.nix
  scripts/README.md
  scripts/install.nix
  scripts/nixos.nix
  scripts/partitions.sh
Due: check

feat: Add Laptop Audio Tweaks
  modules/apps/office.nix
  modules/hardware/laptop.nix
  scripts/audio.sh
Due: check

refactor: Multiple Changes
  README.md
  devices/README.md
  devices/flake.nix
  flake.nix
  modules/README.md
  modules/apps/discord.nix
  modules/apps/firefox.nix
  modules/apps/git/default.nix
  modules/apps/office.nix
  modules/apps/vscode.nix
  modules/configuration.nix
  modules/flake.nix
  modules/gui/desktop/gnome.nix
  modules/gui/desktop/xfce.nix
  modules/gui/theme.nix
  modules/gui/xorg.nix
  modules/hardware/README.md
  modules/hardware/laptop.nix
  modules/nix/index.nix
  modules/shell/default.nix
  modules/user/default.nix
  modules/user/home.nix
  modules/user/passwords/.keep
  modules/user/security.nix
  secrets/README.md
  secrets/secrets.yaml
  users/README.md
  users/passwords/default
  users/passwords/navya.secret
  users/passwords/root.secret
  users/passwords/v7.secret
Due: check

fix: Build Successfully
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/help-request.md
  .github/workflows/update.yml
  README.md
  checks/gitlab/issue_templates/Bug.md
  checks/gitlab/issue_templates/Help.md
  modules/base/default.nix
  modules/hardware/README.md
  packages/default.nix
  packages/flake.nix
  packages/patches/gscan2pdf.patch
  scripts/commands.sh
  scripts/nixos.nix
  shells/default.nix
  site/content/about.md
  site/content/now.md
Due: check, shell

deploy: e9e5ae808a9a4ae1bd9aa2c1c02c2a151fb49ba8
  about/index.html
  now/index.html
  search_index.en.js
Due: none

fix(checks): Website Deploy
  checks/netlify.toml
  scripts/nixos.nix
  site/README.md
Due: check, website

feat: Revamp GNOME Experience
  files/flake.nix
  files/gnome/dconf.nix
  files/gnome/tiling.css
  files/images/desktop/gnome.png
  modules/gui/desktop/gnome.nix
  modules/user/default.nix
  shells/python.nix
Due: check, shell

feat: Expose `lib.build.device`
  devices/flake.nix
  files/gnome/tiling.css
  flake.nix
  lib/README.md
  modules/configuration.nix
Due: check

refactor: GNOME `dconf`
  devices/flake.nix
  files/flake.nix
  files/flatpak/overrides
  files/gnome/dconf.nix
  files/gnome/dconf/apps.nix
  files/gnome/dconf/default.nix
  files/gnome/dconf/extensions.nix
  flake.nix
  modules/gui/desktop/gnome.nix
  users/default.nix
  users/v7/default.nix
Due: check

feat(GNOME): More Extensions
  files/gnome/dconf/extensions.nix
  modules/apps/games.nix
  modules/gui/desktop/gnome.nix
Due: check

feat: VS Code Extensions
  README.md
  files/gnome/dconf/extensions.nix
  files/xdg/mime.nix
  flake.lock
  flake.nix
  modules/apps/vscode.nix
  modules/gui/desktop/gnome.nix
  modules/gui/desktop/xfce.nix
  modules/gui/theme.nix
  packages/flake.nix
Due: check

deploy: 0e8698e15cff9e967f729f61a514eb9abd3b3a67
  404.html
  about/index.html
  anime/index.html
  archive/index.html
  blog/hello/index.html
  blog/index.html
  blog/nix/index.html
  feeds/index.html
  index.html
  now/index.html
  projects/index.html
  sample/index.html
  series/index.html
  series/nixos-desktop/index.html
  tags/index.html
  tags/linux/index.html
  tags/misc/index.html
  tags/nix/index.html
  tags/nixos/index.html
Due: none

feat: Add `sql` Shell
  .github/workflows/shell.yml
  checks/gitlab/pipelines/shell.yml
  files/flake.nix
  files/gnome/dconf/extensions.nix
  files/gnome/shell.css
  modules/gui/desktop/gnome.nix
  shells/sql.nix
Due: check, shell

Path conditions:
  check: any of: *.nix, **/*.nix
  shell: any of: shells/*
  website: any of: site/*
