Repository maydayv7/dotfiles: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check, shell, website

check:
  stage: check
  script: nix flake check --keep-going

shell:
  stage: check
  variables:
    CACHIX_AUTH_TOKEN: $CACHIX_TOKEN
    CACHIX_CACHE_NAME: maydayv7-dotfiles
  parallel:
    matrix:
    - DEVSHELL:
      - java
      - video
  before_script:
  - nix profile install nixpkgs#cachix
  - cachix use $CACHIX_CACHE_NAME
  ...

website:
  stage: publish
  script: nix build .#website
  after_script:
  - mkdir -p archive
  - cp -r ./result/* archive
  artifacts:
    paths:
    - archive/*

fix(Hyprland): QOL Fixes
  devices/vortex.nix
  files/waybar/style.css
  flake.lock
  modules/gui/desktop/hyprland/apps/default.nix
  modules/gui/desktop/hyprland/apps/rules.nix
  scripts/utils.sh
Due: check

feat(Hyprland): Add App Drawer
  devices/futura.nix
  devices/vortex.nix
  files/README.md
  files/flake.nix
  files/nwg/drawer.css
  files/waybar/style.css
  flake.lock
  modules/base/firmware.nix
  modules/gui/desktop/hyprland/README.md
  modules/gui/desktop/hyprland/apps/bar.nix
  modules/gui/desktop/hyprland/apps/default.nix
  modules/gui/desktop/hyprland/apps/rules.nix
  modules/gui/desktop/hyprland/settings/keybindings.nix
  packages/nwg-drawer.nix
Due: check

docs: Update Images
  README.md
  files/images/desktop/hyprland.png
  files/images/desktop/hyprland/1.png
  files/images/desktop/hyprland/2.png
  files/images/desktop/hyprland/3.png
  files/images/desktop/hyprland/4.png
Due: none

docs: Merge and compress images
  README.md
  files/images/desktop/gnome.png
  files/images/desktop/gnome/desktop.png
  files/images/desktop/gnome/overview.png
  files/images/desktop/hyprland.png
  files/images/desktop/hyprland/1.png
  files/images/desktop/hyprland/2.png
  files/images/desktop/hyprland/3.png
  files/images/desktop/hyprland/4.png
  files/images/desktop/xfce.png
  files/images/desktop/xfce/1.png
  files/images/desktop/xfce/2.png
  files/images/desktop/xfce/3.png
Due: none

docs: Update README
  README.md
  flake.nix
  modules/gui/desktop/hyprland/default.nix
  modules/user/security.nix
  scripts/install.nix
Due: check

feat: Add `gui.display`
  devices/futura.nix
  devices/vortex.nix
  files/xfce/settings/xfce4-desktop.xml
  flake.lock
  modules/README.md
  modules/gui/default.nix
  modules/gui/desktop/hyprland/README.md
  modules/gui/desktop/hyprland/apps/bar.nix
  modules/gui/desktop/hyprland/settings/keybindings.nix
  modules/gui/desktop/xfce/default.nix
Due: check

feat: Use `nixpkgs-wayland`
  flake.lock
  flake.nix
  modules/gui/desktop/hyprland/README.md
  modules/gui/desktop/hyprland/apps/bar.nix
  modules/gui/desktop/hyprland/apps/default.nix
  modules/gui/desktop/hyprland/default.nix
  modules/gui/desktop/hyprland/settings/plugins.nix
  packages/flake.nix
Due: check

feat: Wayland Desktop Icons
  modules/gui/desktop/hyprland/apps/default.nix
  packages/desktop-icons.nix
Due: check

feat(Hyprland): Pyprland Plugin
  files/README.md
  files/flake.nix
  files/hyprland/nwg/drawer.css
  files/hyprland/pypr.toml
  files/hyprland/waybar/style.css
  files/pantheon/plank/dock.desktop
  files/pantheon/plank/dock.theme
  files/pantheon/plank/launchers/io.elementary.code.dockitem
  files/pantheon/plank/launchers/io.elementary.files.dockitem
  files/pantheon/plank/launchers/io.elementary.mail.dockitem
  files/pantheon/plank/launchers/io.elementary.switchboard.dockitem
  files/pantheon/plank/launchers/io.elementary.terminal.dockitem
  modules/gui/desktop/hyprland/README.md
  modules/gui/desktop/hyprland/apps/bar.nix
  modules/gui/desktop/hyprland/apps/default.nix
  modules/gui/desktop/hyprland/apps/security.nix
  modules/gui/desktop/hyprland/settings/keybindings.nix
  modules/gui/desktop/hyprland/settings/plugins.nix
  modules/gui/desktop/pantheon.nix
Due: check

docs: Drop overlays
  packages/README.md
Due: none

fix: Niggles
  modules/gui/desktop/hyprland/README.md
  modules/gui/desktop/hyprland/apps/bar.nix
  modules/gui/desktop/hyprland/apps/default.nix
  modules/gui/desktop/hyprland/settings/keybindings.nix
  packages/desktop-icons.nix
  packages/desktop-icons/default.nix
  packages/desktop-icons/metadata.nix
  scripts/nixos.nix
  scripts/utils.sh
Due: check

feat(Hyprland): Better Animations
  modules/gui/desktop/hyprland/settings/default.nix
Due: check

fix(iso): XFCE Stuff
  modules/gui/desktop/xfce/iso.nix
Due: check

feat: Hyprland Binds List
  files/flake.nix
  files/hyprland/binds.pango
  files/hyprland/nwg/wrapper.css
  files/hyprland/waybar.css
  modules/gui/desktop/hyprland/README.md
  modules/gui/desktop/hyprland/apps/bar.nix
  modules/gui/desktop/hyprland/apps/default.nix
  modules/gui/desktop/hyprland/settings/keybindings.nix
Due: check

chore: Update Hyprland
  files/flake.nix
  files/hyprland/binds.pango
  files/hyprland/nwg/wrapper.css
  files/hyprland/wlogout.css
  flake.lock
  modules/gui/desktop/hyprland/apps/default.nix
  modules/gui/desktop/hyprland/apps/rules.nix
  modules/gui/desktop/hyprland/apps/security.nix
Due: check

chore: Update `inputs`
  README.md
  devices/vortex.nix
  files/hyprland/waybar.css
  flake.lock
  flake.nix
  modules/gui/desktop/hyprland/apps/bar.nix
  modules/nix/default.nix
  packages/patches/debugpy.patch
Due: check

chore(packages): Update `kvlibadwaita`
  packages/kvlibadwaita/metadata.nix
Due: check

chore(packages): Update `firefox-gnome-theme`
  packages/firefox-gnome-theme/metadata.nix
Due: check

chore(packages): Update `firefox-elementary-theme`
  packages/firefox-elementary-theme/metadata.nix
Due: check

refactor: `hyprutils` Script
  devices/vortex.nix
  flake.lock
  modules/apps/default.nix
  modules/apps/git/default.nix
  modules/base/security.nix
  modules/gui/desktop/hyprland/apps/bar.nix
  modules/gui/desktop/hyprland/apps/default.nix
  modules/gui/desktop/hyprland/apps/security.nix
  modules/gui/desktop/hyprland/settings/default.nix
  modules/gui/desktop/hyprland/settings/keybindings.nix
  modules/gui/launcher.nix
  modules/shell/bash.nix
  modules/shell/default.nix
  scripts/audio.sh
  scripts/hyprutils.nix
  scripts/install.nix
  scripts/nixos.nix
  scripts/utils.sh
Due: check

fix(Hyprland): Workflow Improvements
  files/geany/keybindings.conf
  files/hyprland/binds.pango
  files/hyprland/pypr.toml
  files/hyprland/waybar.css
  modules/gui/desktop/hyprland/apps/default.nix
  modules/gui/desktop/hyprland/apps/security.nix
  modules/gui/desktop/hyprland/settings/default.nix
  modules/gui/desktop/hyprland/settings/keybindings.nix
  modules/gui/desktop/hyprland/settings/plugins.nix
  scripts/commands.sh
  scripts/hyprutils.nix
  scripts/nixos.nix
Due: check

feat(Hyprland): Waybar Group Drawers
  README.md
  files/hyprland/waybar.css
  flake.lock
  modules/gui/desktop/hyprland/apps/bar.nix
  modules/gui/desktop/hyprland/settings/default.nix
  modules/shell/default.nix
  scripts/hyprutils.nix
  scripts/nixos.nix
Due: check

fix(Hyprland): Minor Fixes
  devices/vortex.nix
  files/hyprland/waybar.css
  flake.lock
  modules/gui/desktop/hyprland/apps/bar.nix
  modules/gui/desktop/hyprland/apps/default.nix
  packages/patches/debugpy.patch
  scripts/hyprutils.nix
Due: check

refactor: Drop unused `inputs`
  devices/vortex.nix
  flake.lock
  flake.nix
  modules/base/default.nix
  modules/base/security.nix
  packages/flake.nix
Due: check

feat: Update Nix to v2.20 and Hyprland to v0.37
  README.md
  files/vscode/settings.json
  flake.lock
  flake.nix
  modules/gui/desktop/hyprland/apps/default.nix
  modules/gui/desktop/hyprland/apps/rules.nix
  modules/nix/default.nix
  modules/nix/registry.nix
  modules/nix/tools.nix
  packages/flake.nix
Due: check

fix: Hyprland v0.37.1
  flake.lock
  flake.nix
Due: check

fix(GNOME): Minor Fixes
  files/gnome/settings/default.nix
  files/gnome/settings/extensions.nix
  files/gnome/shortcuts.json
  files/gnome/tiling.css
  modules/apps/office.nix
  modules/gui/desktop/gnome/default.nix
Due: check

feat: Revamp `hyprutils`
  modules/gui/desktop/hyprland/apps/bar.nix
  modules/gui/desktop/hyprland/apps/security.nix
  modules/gui/desktop/hyprland/settings/keybindings.nix
  scripts/hyprutils.nix
Due: check

Update CNAME
  CNAME
Due: none

fix(site): Change Domain
  .github/workflows/website.yml
  README.md
  modules/README.md
  modules/apps/git/hosting.nix
  scripts/hyprutils.nix
  site/README.md
Due: check, website

deploy: f0cad5434a32a98d283ca21c952823b441bdc01f
  CNAME
Due: none

fix(Hyprland): Window Rules
  files/hyprland/pypr.toml
  flake.lock
  flake.nix
  modules/gui/desktop/hyprland/apps/rules.nix
Due: check

fix: Some Cleanups
  files/archive/Linux/Arch/zshrc
  files/nano/nanorc
  files/neofetch/config.conf
Due: none

deploy: 7e921773f7f701ee309292e7ebcd8bc8d1fe7431
  anime/index.html
  search_index.en.js
Due: none

fix: Update to build successfully
  .devcontainer/devcontainer.json
  checks/devcontainer
  files/hyprland/binds.pango
  flake.lock
  flake.nix
  modules/gui/desktop/hyprland/apps/default.nix
  modules/gui/desktop/hyprland/settings/default.nix
  modules/gui/desktop/hyprland/settings/keybindings.nix
  modules/gui/desktop/hyprland/settings/plugins.nix
  packages/flake.nix
  packages/nwg-drawer.nix
  packages/patches/.keep
  packages/patches/default.nix
  scripts/nixos.nix
  site/content/anime.md
Due: check

feat: Hyprland v0.39
  flake.lock
  flake.nix
  modules/gui/desktop/hyprland/settings/default.nix
  modules/gui/desktop/hyprland/settings/plugins.nix
  packages/flake.nix
  packages/patches/.keep
  packages/patches/debugpy.patch
  packages/patches/default.nix
Due: check

feat: Hyprland Workflow Improvements
  files/README.md
  files/_archive/.keep
  files/_archive/Linux/Arch/COMMANDS.md
  files/_archive/Linux/Arch/INSTALL.md
  files/_archive/Linux/Arch/zshrc
  files/_archive/Linux/Pop/conky/conky.lua
  files/_archive/Linux/Pop/conky/conkyrc
  files/_archive/Linux/Pop/neofetch/config.conf
  files/_archive/Linux/Pop/p10k.zsh
  files/_archive/Windows/APPS.md
  files/_archive/Windows/Velociraptor.rmskin
  files/flake.nix
  files/geany/catppuccin.conf
  files/hyprland/binds.pango
  files/hyprland/clipse.json
  files/hyprland/pypr.toml
  files/ulauncher/settings/extension.json
  flake.lock
  flake.nix
  modules/gui/desktop/hyprland/apps/bar.nix
  modules/gui/desktop/hyprland/apps/default.nix
  modules/gui/desktop/hyprland/apps/rules.nix
  modules/gui/desktop/hyprland/settings/keybindings.nix
  modules/gui/desktop/hyprland/settings/plugins.nix
  modules/gui/qt.nix
  packages/flake.nix
  packages/geany-catppuccin/default.nix
  packages/geany-catppuccin/metadata.nix
  packages/nwg-clipman.nix
Due: check

fix: Random Fixes
  README.md
  flake.nix
  modules/apps/office.nix
  modules/gui/desktop/hyprland/apps/bar.nix
  modules/gui/desktop/hyprland/apps/default.nix
  modules/gui/desktop/hyprland/settings/keybindings.nix
  modules/gui/desktop/hyprland/settings/plugins.nix
  scripts/install.nix
Due: check

fix(Hyprland): Desktop Icons Build
  README.md
  packages/desktop-icons/default.nix
Due: check

fix: Use Hyprland for greeter
  README.md
  files/flake.nix
  files/hyprland/greeter.conf
  modules/gui/desktop/hyprland/default.nix
  modules/hardware/printer.nix
Due: check

Path conditions:
  check: any of: *.nix, **/*.nix
  shell: any of: shells/*
  website: any of: site/*
