Repository maydayv7/dotfiles: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check, shell, website

check:
  stage: check
  script: nix flake check --keep-going

shell:
  stage: check
  variables:
    CACHIX_AUTH_TOKEN: $CACHIX_TOKEN
    CACHIX_CACHE_NAME: maydayv7-dotfiles
  parallel:
    matrix:
    - DEVSHELL:
      - java
      - video
  before_script:
  - nix profile install nixpkgs#cachix
  - cachix use $CACHIX_CACHE_NAME
  ...

website:
  stage: publish
  script: nix build .#website
  after_script:
  - mkdir -p archive
  - cp -r ./result/* archive
  artifacts:
    paths:
    - archive/*

fix: Fix build
  flake.lock
  modules/gui/desktop/hyprland/apps/utilities.nix
  packages/patches/pyprland.patch
Due: check

WIP 3
  .github/devcontainer
  CHANGELOG.md
  flake.nix
  modules/hosts/futura.nix
  modules/hosts/install.nix
  modules/hosts/valkyrie.nix
  modules/hosts/vortex.nix
  modules/system/base.nix
  modules/system/user.nix
  site/README.md
  site/_module.nix
  site/default.nix
  site/flake.nix
  site/git/default.nix
  site/git/theme.nix
  site/shell.nix
Due: check, website

WIP 6
  modules/apps/discord.nix
  modules/apps/flatpak.nix
  modules/apps/git.nix
  modules/apps/notes.nix
  modules/apps/vscode.nix
  modules/apps/wine.nix
  modules/apps/youtube.nix
  modules/desktop/gnome/_main.nix
  modules/desktop/gnome/_settings/extensions.nix
  modules/desktop/hyprland/_features/misc.nix
  modules/desktop/pantheon/_main.nix
  modules/hosts/valkyrie/default.nix
Due: check

WIP 7
  modules/system/security.nix
Due: check

WIP 9
  modules/README.md
  modules/apps/firefox.nix
  modules/apps/git/git-runner.nix
  modules/core/checks.nix
  modules/core/systems.nix
  modules/desktop/_install.nix
  modules/desktop/gnome/_main.nix
  modules/desktop/gnome/_settings/extensions.nix
  modules/hardware/README.md
  modules/hardware/docker.nix
  modules/hosts/futura.nix
  modules/hosts/valkyrie/_settings/default.nix
  modules/hosts/valkyrie/_settings/home.nix
  modules/hosts/valkyrie/_settings/nixos.nix
  modules/hosts/valkyrie/default.nix
  modules/hosts/vortex.nix
  modules/system/base.nix
  modules/system/filesystem.nix
  modules/theme/theme.nix
  packages/patches/copilot.patch
Due: check

WIP 10
  modules/LIST.md
  modules/apps/flatpak.nix
  modules/core/home-manager.nix
  modules/core/nixos.nix
  modules/desktop/gnome/default.nix
  modules/desktop/hyprland/_features/misc.nix
  modules/desktop/hyprland/default.nix
  modules/games/mc-server.nix
  modules/gui/fonts.nix
  modules/gui/gtk.nix
  modules/gui/qt.nix
  modules/gui/theme.nix
  modules/hosts/futura.nix
  modules/hosts/install.nix
  modules/hosts/install/_image.nix
  modules/hosts/valkyrie/_minecraft.nix
  modules/hosts/valkyrie/_settings/default.nix
  modules/hosts/valkyrie/default.nix
  modules/hosts/vortex.nix
  modules/shell/shell-utils.nix
  modules/system/base-ext.nix
  modules/system/base.nix
  modules/system/nix.nix
  modules/system/security.nix
  modules/system/user/default.nix
  modules/virt/android.nix
  modules/virt/docker.nix
  modules/virt/libvirt.nix
  modules/virt/vfio.nix
Due: check

WIP 11
  files/archive/arch/COMMANDS.md
  files/archive/arch/INSTALL.md
  files/archive/arch/zshrc
  files/archive/popos/conky/conky.lua
  files/archive/popos/conky/conkyrc
  files/archive/popos/neofetch/config.conf
  files/archive/popos/p10k.zsh
  files/gitea/theme-black.css
  files/gitea/theme-blue.css
  files/gitea/theme-red.css
  files/gnome/shortcuts.json
  modules/apps/auth.nix
  modules/apps/internet.nix
  modules/apps/office.nix
  modules/apps/syncthing.nix
  modules/core/nixos.nix
  modules/desktop/_base.nix
  modules/desktop/gnome/_main.nix
  modules/desktop/gnome/_settings/apps.nix
  modules/desktop/gnome/_settings/extensions.nix
  modules/games/mc-server.nix
  modules/hardware/cpu.nix
  modules/hardware/gpu.nix
  modules/hosts/futura.nix
  modules/hosts/install.nix
  modules/hosts/valkyrie/default.nix
  modules/hosts/vortex.nix
  modules/system/boot.nix
  modules/system/filesystem.nix
  packages/thunderbird-tools-ng/default.nix
  packages/thunderbird-tools-ng/metadata.nix
Due: check

WIP 12
  modules/desktop/_install.nix
  modules/desktop/gnome/_common.nix
  modules/desktop/gnome/_main.nix
  modules/desktop/hyprland/_features/browser.nix
  modules/desktop/hyprland/_features/files.nix
  modules/desktop/hyprland/_features/hyprutils.nix
  modules/desktop/hyprland/_features/idle.nix
  modules/desktop/hyprland/_features/launcher.nix
  modules/desktop/hyprland/_features/login.nix
  modules/desktop/hyprland/_features/main.nix
  modules/desktop/hyprland/_features/media.nix
  modules/desktop/hyprland/_features/misc.nix
  modules/desktop/hyprland/_features/notify.nix
  modules/desktop/hyprland/_features/panel.nix
  modules/desktop/hyprland/_features/security.nix
  modules/desktop/hyprland/_features/style.nix
  modules/desktop/hyprland/_features/sysutils.nix
  modules/desktop/hyprland/_features/terminal.nix
  modules/desktop/hyprland/_features/text.nix
  modules/desktop/hyprland/_settings/apps.nix
  modules/desktop/hyprland/_settings/keybinds.nix
  modules/desktop/hyprland/_settings/main.nix
  modules/desktop/hyprland/_settings/plugins.nix
  modules/desktop/hyprland/default.nix
  modules/gui/gtk.nix
  modules/gui/theme.nix
  modules/hosts/valkyrie/default.nix
  modules/virt/vfio.nix
Due: check

WIP 13
  CHANGELOG.md
  files/vscode/settings.json
  flake.lock
  flake.nix
  lib/_module.nix
  modules/apps/auth.nix
  modules/apps/tools.nix
  modules/core/home-manager.nix
  modules/core/nixos.nix
  modules/desktop/gnome/_main.nix
  modules/desktop/gnome/_settings/extensions.nix
  modules/desktop/hyprland/_settings/keybinds.nix
  modules/desktop/hyprland/_settings/main.nix
  modules/desktop/hyprland/_settings/plugins.nix
  modules/gui/theme.nix
  modules/hardware/mouse.nix
  modules/hosts/valkyrie/default.nix
  scripts/nixos.nix
Due: check

Docs
  CHANGELOG.md
  README.md
  files/README.md
  lib/README.md
  lib/_module.nix
  lib/build.nix
  lib/map.nix
  lib/types.nix
  modules/LIST.md
  modules/README.md
  modules/hardware/README.md
  secrets/README.md
  site/README.md
Due: check, website

feat: Zed Editor
  CHANGELOG.md
  files/vscode/settings.json
  modules/README.md
  modules/apps/syncthing.nix
  modules/apps/vscode/default.nix
  modules/apps/zed.nix
  modules/desktop/_wm/style.nix
  modules/games/games.nix
  modules/games/mc-server/default.nix
  modules/hosts/valkyrie/_asus/default.nix
  modules/hosts/valkyrie/_vm/default.nix
  modules/hosts/valkyrie/default.nix
  modules/system/filesystem.nix
  modules/system/security.nix
  modules/virt/android.nix
  modules/virt/docker.nix
  packages/overlays/copilot.nix
Due: check

feat: Sandbox Firefox
  CHANGELOG.md
  files/_module.nix
  files/vscode/settings.json
  files/zed/keymap.json
  files/zed/settings.json
  flake.lock
  flake.nix
  modules/apps/zed.nix
  modules/core/home-manager.nix
  modules/desktop/_wm/misc.nix
  modules/desktop/gnome/_main.nix
  modules/hosts/valkyrie/default.nix
  modules/hosts/vortex.nix
  modules/system/security.nix
  modules/system/security/_browser.nix
  modules/system/security/default.nix
  modules/system/user/default.nix
Due: check

feat: Hyprland Scroll Overview
  CHANGELOG.md
  files/hyprland/kebihelp.json
  files/hyprland/noctalia/layout/plugin.toml
  files/hyprland/noctalia/submap/plugin.toml
  files/hyprland/noctalia/submap/submap.luau
  files/hyprland/noctalia/submap/translations/en.json
  files/hyprland/pypr.toml
  files/vscode/settings.json
  files/zed/keymap.json
  flake.lock
  flake.nix
  modules/apps/firefox.nix
  modules/apps/syncthing.nix
  modules/apps/vscode/_profile.nix
  modules/desktop/_wm/shell.nix
  modules/desktop/hyprland/_features/shell.nix
  modules/desktop/hyprland/_settings/keybinds.nix
  modules/desktop/hyprland/_settings/main.nix
  modules/desktop/hyprland/_settings/plugins.nix
  modules/games/games.nix
  modules/games/mc-server/default.nix
  modules/hosts/valkyrie/_asus/default.nix
  modules/hosts/valkyrie/_vm/default.nix
  modules/hosts/valkyrie/default.nix
  modules/hosts/vortex.nix
  modules/system/filesystem.nix
  modules/system/security/default.nix
  modules/virt/android.nix
  modules/virt/docker.nix
  packages/_module.nix
  scripts/hyprutils.nix
  scripts/os.nix
  shells/python.nix
  site/zola.toml
Due: check, shell, website

fix(firefox): Extension storage
  modules/apps/firefox.nix
Due: check

feat(valkyrie): Dual Boot
  files/_module.nix
  modules/hardware/README.md
  modules/hosts/valkyrie/_disk/dualboot.nix
  modules/hosts/valkyrie/_disk/full.nix
  modules/hosts/valkyrie/_vm/default.nix
  modules/hosts/valkyrie/_vm/windows.xml
  modules/hosts/valkyrie/default.nix
  modules/system/base.nix
  modules/system/security/default.nix
  secrets/passwords/default
  secrets/passwords/navya.secret
Due: check

feat: Use `zoxide`
  CHANGELOG.md
  files/_module.nix
  files/gnome/shortcuts.json
  files/hyprland/noctalia/layout/layout.luau
  files/hyprland/noctalia/layout/plugin.toml
  files/hyprland/noctalia/submap/plugin.toml
  files/hyprland/noctalia/submap/submap.luau
  files/hyprland/pypr.toml
  files/images/nixos.svg
  flake.lock
  flake.nix
  modules/apps/antigravity.nix
  modules/desktop/_wm/shell.nix
  modules/desktop/_wm/utils.nix
  modules/desktop/hyprland/_features/shell.nix
  modules/desktop/hyprland/_settings/apps.nix
  modules/desktop/hyprland/_settings/keybinds.nix
  modules/desktop/hyprland/_settings/main.nix
  modules/desktop/niri/_settings/apps.nix
  modules/desktop/niri/_settings/keybinds.nix
  modules/hosts/valkyrie/_dev.nix
  modules/shell/shell-utils.nix
  modules/shell/shell.nix
  packages/overlays/copilot.nix
  secrets/valkyrie/tailscale.secret
Due: check

feat: Add `codex` and MCP Servers
  CHANGELOG.md
  flake.lock
  flake.nix
  modules/apps/_mcp.nix
  modules/apps/antigravity.nix
  modules/apps/codex.nix
  modules/apps/vscode/_profile.nix
  modules/desktop/hyprland/_features/main.nix
  modules/desktop/hyprland/_settings/plugins.nix
  modules/hosts/valkyrie/default.nix
  modules/shell/shell.nix
  modules/users/v7/default.nix
  packages/_module.nix
  packages/adw-catppuccin/default.nix
  packages/fabric-ca.nix
  packages/geany-catppuccin/default.nix
  packages/hypr-overview/default.nix
  packages/hypr-overview/metadata.nix
  packages/hypr-split/default.nix
  packages/hypr-split/metadata.nix
  packages/kebihelp/default.nix
  packages/kitty-search/default.nix
  packages/kvlibadwaita/default.nix
  packages/obsidian-catppuccin/metadata.nix
  packages/superpowers/default.nix
  packages/superpowers/metadata.nix
  packages/thunderbird-tools-ng/default.nix
  packages/thunderbird-tools-ng/metadata.nix
  site/default.nix
Due: check, website

fix: Fix CI
  modules/desktop/hyprland/_settings/apps.nix
  modules/desktop/hyprland/_settings/keybinds.nix
  modules/games/mc-server/update.sh
  modules/shell/shell-utils.nix
  modules/system/base.nix
  modules/users/v7/default.nix
  packages/update.sh
  scripts/audio.sh
  scripts/colors.sh
  scripts/commands.sh
  scripts/hyprutils.nix
  scripts/mail.sh
  scripts/mods.sh
  scripts/packages.sh
  scripts/pci.sh
Due: check

fix: Updates
  flake.lock
  flake.nix
  modules/apps/antigravity.nix
  modules/apps/codex.nix
  modules/apps/discord.nix
  modules/hosts/valkyrie/_dev.nix
  modules/hosts/valkyrie/default.nix
  packages/superpowers/default.nix
  packages/superpowers/metadata.nix
Due: check

fix: Misc fixes
  flake.lock
  flake.nix
  modules/apps/tools.nix
  modules/desktop/_wm/shell.nix
  modules/desktop/niri/_settings/keybinds.nix
  modules/hosts/valkyrie/default.nix
  modules/hosts/vortex.nix
  modules/system/base.nix
  scripts/os.nix
Due: check

fix: Minor changes
  files/vscode/settings.json
  flake.lock
  modules/apps/codex.nix
  modules/apps/internet.nix
  modules/apps/vscode/_profile.nix
  modules/games/mc-server/default.nix
  modules/system/filesystem.nix
  scripts/os.nix
Due: check

feat: Updates
  CHANGELOG.md
  files/zed/keymap.json
  files/zed/settings.json
  flake.lock
  flake.nix
  modules/README.md
  modules/apps/_mcp.nix
  modules/apps/claude.nix
  modules/apps/notes.nix
  modules/apps/vscode/_profile.nix
  modules/apps/zed.nix
  modules/desktop/_wm/files.nix
  modules/desktop/hyprland/_settings/keybinds.nix
  modules/desktop/niri/_settings/keybinds.nix
  modules/gui/qt.nix
  modules/hosts/valkyrie/_dev.nix
  modules/hosts/valkyrie/default.nix
  modules/system/base-ext.nix
  modules/virt/libvirt.nix
  packages/overlays/mongodb-compass.nix
  packages/overlays/virtiofsd.nix
  scripts/hyprutils.nix
Due: check

feat: Use `pix` instead of `shotwell`
  files/zed/keymap.json
  flake.lock
  flake.nix
  modules/apps/claude.nix
  modules/desktop/_base.nix
  modules/desktop/_wm/media.nix
  modules/hosts/valkyrie/default.nix
Due: check

feat: Change Domain
  README.md
  files/vscode/settings.json
  flake.lock
  flake.nix
  modules/README.md
  site/README.md
  site/_module.nix
  site/content/about.md
  site/git/default.nix
  site/git/wrangler.toml
  site/index.js
  site/templates/macros/comments.html
  site/templates/macros/edit.html
  site/templates/macros/head.html
  site/templates/macros/header.html
  site/templates/macros/pagination.html
  site/templates/macros/posts.html
  site/templates/macros/social.html
  site/templates/page.html
  site/templates/shortcodes/figure.html
  site/templates/shortcodes/image.html
  site/templates/shortcodes/youtube.html
  site/templates/tags/list.html
  site/wrangler.toml
  site/zola.toml
Due: check, website

fix: Google Analytics
  modules/system/security/default.nix
  site/zola.toml
Due: check, website

feat: Bump Windows
  files/windows/gitconfig.txt
  files/windows/packages.ubundle
  files/windows/powertoys/settings_134221974307868093.ptb
  files/windows/powertoys/settings_134346332455937065.ptb
  files/windows/windhawk.zip
Due: none

fix(gitsite): Content limit
  site/git/stagit/README.md
  site/git/stagit/render.py
  site/git/stagit/stagit.c
Due: none

fix: `gitsite` Styling
  site/sass/git.scss
Due: none

feat: Update `mc-server` to 26.3
  CHANGELOG.md
  README.md
  flake.lock
  modules/apps/tools.nix
  modules/core/home-manager.nix
  modules/core/nixos.nix
  modules/games/mc-server/_mods.nix
  modules/games/mc-server/default.nix
  modules/hosts/futura.nix
  modules/hosts/install.nix
  modules/hosts/valkyrie/_disk/dualboot.nix
  modules/hosts/valkyrie/default.nix
  modules/hosts/vortex.nix
  modules/system/user/default.nix
  scripts/commands.sh
  scripts/install.nix
Due: check

fix: Hybrid GPU Hyprland
  flake.lock
  flake.nix
  modules/README.md
  modules/apps/vscode/default.nix
  modules/desktop/_wm/shell.nix
  modules/desktop/hyprland/_settings/apps.nix
  modules/hardware/gpu.nix
  modules/hosts/valkyrie/_asus/default.nix
  modules/hosts/valkyrie/default.nix
  modules/hosts/vortex.nix
  packages/hypr-overview/default.nix
Due: check

feat: Noctalia Keyhelp
  files/_module.nix
  files/hyprland/kebihelp.json
  files/noctalia/hypr-layout/layout.luau
  files/noctalia/hypr-layout/plugin.toml
  files/noctalia/hypr-layout/translations/en.json
  files/noctalia/hypr-submap/plugin.toml
  files/noctalia/hypr-submap/submap.luau
  files/noctalia/hypr-submap/translations/en.json
  files/noctalia/keyhelp/README.md
  files/noctalia/keyhelp/controller.luau
  files/noctalia/keyhelp/lib/controller.luau
  files/noctalia/keyhelp/lib/model.luau
  files/noctalia/keyhelp/panel.luau
  files/noctalia/keyhelp/plugin.toml
  files/noctalia/keyhelp/shortcuts.json
  files/noctalia/keyhelp/translations/en.json
  modules/desktop/_wm/shell.nix
  modules/desktop/hyprland/_features/shell.nix
  modules/desktop/hyprland/_features/utils.nix
  modules/desktop/hyprland/_settings/apps.nix
  modules/desktop/hyprland/default.nix
  modules/desktop/niri/_features/shell.nix
  modules/desktop/niri/_settings/keybinds.nix
  modules/desktop/niri/default.nix
  packages/kebihelp/default.nix
  packages/kebihelp/metadata.nix
Due: check

Path conditions:
  check: any of: *.nix, **/*.nix
  shell: any of: shells/*
  website: any of: site/*
