Repository maydayv7/dotfiles: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check, shell

.gitlab/pipelines/check.yml:

# Check Nix Syntax
check:
  stage: check
  rules:
    - changes:
      - '*.md'
      - '*.yml'
      - 'files/*'
      when: never
    - when: always
  script: nix flake check --keep-going

.gitlab/pipelines/shell.yml:

# Check Nix Developer Shells
shell:
  stage: check
  only:
    changes:
      - 'shells/*'
  variables:
    CACHIX_AUTH_TOKEN: $CACHIX_TOKEN
    CACHIX_CACHE_NAME: maydayv7-dotfiles
  parallel:
    matrix:
      - DEVSHELL: [java, video]
  before_script:
    - nix profile install nixpkgs#cachix
    - cachix use $CACHIX_CACHE_NAME
  script: cachix watch-exec $CACHIX_CACHE_NAME nix develop .#$DEVSHELL

chore: Update License Year
  LICENSE
Due: check

docs: Add CHANGELOG
  .gitlab/.gitlab-webide.yml
  CHANGELOG.md
  README.md
Due: none

chore: Clean `git` Tree
  .git-crypt/.gitattributes
  .git-crypt/keys/default/0/8C240C0C11293EE56260601CCF616EB19C2765E4.gpg
  files/gpg/.gitattributes
  files/gpg/private-keys-v1.d/4B6F664FFE2A60113EE1902A5BB08F152E72FC1E.key
  files/gpg/private-keys-v1.d/D96FF8C98B84804F88D1251719636F2E81D8A7D5.key
Due: check

chore: Update `git-crypt` Keys
  .git-crypt/.gitattributes
  .git-crypt/keys/default/0/8C240C0C11293EE56260601CCF616EB19C2765E4.gpg
  files/gpg/.gitattributes
  files/gpg/private-keys-v1.d/4B6F664FFE2A60113EE1902A5BB08F152E72FC1E.key
  files/gpg/private-keys-v1.d/D96FF8C98B84804F88D1251719636F2E81D8A7D5.key
Due: check

feat: Use `nixos-generators` for Image Generation
  CHANGELOG.md
  README.md
  configuration.nix
  devices/README.md
  flake.lock
  flake.nix
  lib/build.nix
  lib/pack.nix
  modules/default.nix
  modules/nix/checks.nix
  modules/shell/default.nix
  modules/shell/zsh.nix
  packages/overlays/nixFlakes.nix
  scripts/nixos.nix
Due: none

fix: Use `nixConfig` by Default
  .github/workflows/build.yml
  .github/workflows/check.yml
  .github/workflows/release.yml
  .github/workflows/shell.yml
  .github/workflows/update.yml
  lib/README.md
  lib/pack.nix
  modules/nix/checks.nix
  modules/nix/default.nix
Due: check

feat: Use PipeWire for audio
  CHANGELOG.md
  modules/base/firmware.nix
Due: none

docs: Update README
  .github/disabled/release.yml
  .github/disabled/shell.yml
  .github/disabled/update.yml
  .templates/README.md
  .templates/minimal/flake.nix
  README.md
  devices/Vortex.nix
  files/default.nix
  files/images/logo.png
  flake.nix
  lib/README.md
  modules/README.md
  modules/apps/git/secrets/gitlab-runner.secret
  packages/README.md
  scripts/README.md
  scripts/nixos.nix
Due: none

ci: Fix Workflows
  .github/workflows/release.yml
  .github/workflows/shell.yml
  .github/workflows/update.yml
  README.md
Due: none

chore(flake.lock): Update `inputs`
  flake.lock
Due: check

feat: Support Auto-Upgrade
  devices/Futura.nix
  modules/base/firmware.nix
  modules/default.nix
  modules/hardware/virtualisation.nix
  modules/nix/default.nix
  scripts/nixos.nix
  scripts/partitions.sh
Due: check

fix(ci): Fix Validation Rules
  .gitlab/pipelines/check.yml
  .gitlab/pipelines/shell.yml
Due: check

feat: Improve Desktop Integration
  .templates/minimal/flake.nix
  README.md
  configuration.nix
  files/gnome/bookmarks
  files/gnome/dconf.nix
  files/images/desktop.png
  lib/build.nix
  lib/default.nix
  lib/pack.nix
  lib/xdg.nix
  modules/README.md
  modules/apps/discord.nix
  modules/apps/firefox.nix
  modules/apps/git/default.nix
  modules/apps/git/runner.nix
  modules/apps/office.nix
  modules/apps/wine.nix
  modules/base/console.nix
  modules/base/firmware.nix
  modules/default.nix
  modules/gui/default.nix
  modules/gui/fonts.nix
  modules/gui/gnome.nix
  modules/hardware/boot.nix
  modules/hardware/filesystem.nix
  modules/hardware/mobile.nix
  modules/hardware/printer.nix
  modules/hardware/virtualisation.nix
  modules/nix/checks.nix
  modules/nix/default.nix
  modules/nix/index.nix
  modules/shell/default.nix
  modules/user/default.nix
  modules/user/home.nix
  modules/user/security.nix
  repl.nix
  scripts/partitions.sh
  secrets/default.nix
Due: none

feat: Improve VFI/O PCI Passthrough
  modules/README.md
  modules/hardware/virtualisation.nix
  scripts/pci.sh
Due: check

feat!: Support Multiple Users per Device
  CHANGELOG.md
  LIMITATIONS.md
  README.md
  devices/Futura.nix
  devices/Vortex.nix
  files/gnome/dconf.nix
  lib/README.md
  lib/build.nix
  lib/pack.nix
  lib/types.nix
  modules/README.md
  modules/apps/firefox.nix
  modules/apps/git/default.nix
  modules/apps/git/secrets/gitlab-runner.secret
  modules/base/firmware.nix
  modules/default.nix
  modules/gui/gnome.nix
  modules/hardware/filesystem.nix
  modules/hardware/mobile.nix
  modules/hardware/printer.nix
  modules/hardware/virtualisation.nix
  modules/nix/default.nix
  modules/shell/default.nix
  modules/shell/zsh.nix
  modules/user/default.nix
  modules/user/home/default.nix
  modules/user/home/navya/.keep
  modules/user/home/v7/.keep
  modules/user/security.nix
  packages/README.md
  scripts/README.md
  shells/default.nix
Due: shell

fix: Refine User Configuration
  CHANGELOG.md
  LIMITATIONS.md
  README.md
  configuration.nix
  files/gnome/dconf.nix
  lib/README.md
  lib/build.nix
  lib/map.nix
  modules/README.md
  modules/apps/git/default.nix
  modules/default.nix
  modules/gui/gnome.nix
  modules/user/default.nix
  modules/user/home/default.nix
  modules/user/home/navya/default.nix
  modules/user/home/v7/default.nix
  modules/user/security.nix
  packages/dotfiles.nix
  packages/fonts.nix
  packages/patches/github-runner.diff
  packages/top-bar-organizer.nix
  repl.nix
Due: none

feat: Improve Security and Harden System
  LIMITATIONS.md
  README.md
  configuration.nix
  devices/Vortex.nix
  modules/README.md
  modules/base/console.nix
  modules/base/default.nix
  modules/base/firmware.nix
  modules/default.nix
  modules/gui/default.nix
  modules/gui/gnome.nix
  modules/gui/xorg.nix
  modules/hardware/boot.nix
  modules/hardware/default.nix
  modules/hardware/security.nix
  modules/hardware/virtualisation.nix
  modules/nix/default.nix
  modules/user/home/default.nix
  modules/user/recovery.nix
  packages/fly-pie.nix
  packages/top-bar-organizer.nix
  scripts/nixos.nix
Due: none

chore(flake.lock): Update `inputs`
  README.md
  flake.lock
  modules/base/firmware.nix
  modules/hardware/security.nix
  scripts/nixos.nix
Due: none

fix: Upgrade Nix Version
  .gitattributes
  .gitlab/pipelines/update.yml
  configuration.nix
  files/gnome/nix.lang
  files/images/wallpapers/Sunset.jpg
  lib/README.md
  lib/build.nix
  lib/default.nix
  modules/default.nix
  modules/gui/gnome.nix
  modules/hardware/filesystem.nix
  modules/hardware/security.nix
  modules/shell/zsh.nix
  packages/overlays/nixFlakes.nix
Due: check

docs: Use Calendar Versioning
  CHANGELOG.md
  README.md
  files/gnome/dconf.nix
  flake.lock
  flake.nix
  modules/default.nix
  modules/user/default.nix
  modules/user/home/default.nix
  modules/user/home/navya/default.nix
  modules/user/home/v7/default.nix
  modules/user/security.nix
  packages/dotfiles.nix
Due: none

docs: Add Additional Device Options
  devices/README.md
  devices/Vortex.nix
  flake.lock
  modules/default.nix
  scripts/nixos.nix
  secrets/default.nix
Due: check

feat: Add Support for `deploy-rs`
  LIMITATIONS.md
  README.md
  configuration.nix
  devices/Futura.nix
  devices/README.md
  flake.lock
  flake.nix
  lib/build.nix
  modules/README.md
  modules/base/firmware.nix
  modules/default.nix
  modules/nix/checks.nix
  modules/nix/default.nix
  modules/nix/deploy.nix
  modules/user/default.nix
  modules/user/recovery.nix
  modules/user/security.nix
  scripts/README.md
  scripts/nixos.nix
Due: none

fix: Improve Scripts
  .github/dependabot.yml
  .github/workflows/update.yml
  CHANGELOG.md
  LIMITATIONS.md
  README.md
  flake.lock
  flake.nix
  lib/README.md
  lib/map.nix
  modules/base/firmware.nix
  modules/nix/default.nix
  modules/nix/deploy.nix
  packages/dotfiles.nix
  scripts/README.md
  scripts/nixos.nix
  secrets/README.md
Due: none

feat!: Bifurcate `users`
  .git-crypt/keys/default/0/B141E0D9F711DD86DEAE1269D9B023AB01B68EFE.gpg
  .templates/.git-keep
  CHANGELOG.md
  README.md
  configuration.nix
  devices/README.md
  devices/Vortex.nix
  files/gpg/private-keys-v1.d/840425F84419508B2199B98994A06D23E36BB658.key
  files/gpg/private-keys-v1.d/CB4B161223129E6F027B605A9AB21B40096E9121.key
  files/gpg/pubring.kbx
  lib/map.nix
  modules/README.md
  modules/apps/git/default.nix
  modules/apps/git/user.nix
  modules/base/firmware.nix
  modules/default.nix
  modules/secrets.nix
  modules/user/default.nix
  modules/user/home.nix
  modules/user/home/default.nix
  modules/user/home/navya/.keep
  modules/user/home/navya/default.nix
  modules/user/home/v7/.keep
  modules/user/security.nix
  packages/.git-keep
  scripts/.git-keep
  secrets/.sops.yaml
  secrets/default.nix
  secrets/keys/.gitattributes
  secrets/keys/navya.gpg
  secrets/keys/v7.gpg
  users/README.md
  users/default.nix
  users/navya.nix
  users/v7.nix
Due: none

fix: Improve `channels` Usage
  README.md
  configuration.nix
  lib/README.md
  lib/build.nix
  lib/map.nix
  modules/base/console.nix
  modules/nix/default.nix
  scripts/nixos.nix
Due: none

chore: Clean Archives
  .github/workflows/update.yml
  files/archive/Linux/Arch/zshrc
  files/archive/Linux/Pop/conky/conky.lua
  files/archive/Linux/Pop/conky/conkyrc
  files/bat/config
  files/default.nix
  files/nano/nanorc
  modules/default.nix
  modules/shell/default.nix
  modules/shell/zsh.nix
  scripts/nixos.nix
  users/default.nix
Due: none

feat: Add `lib.map.module`
  configuration.nix
  devices/Vortex.nix
  files/bat/config
  files/default.nix
  lib/README.md
  lib/build.nix
  lib/map.nix
  modules/apps/default.nix
  modules/base/default.nix
  modules/base/firmware.nix
  modules/gui/default.nix
  modules/gui/fonts.nix
  modules/hardware/boot.nix
  modules/hardware/default.nix
  modules/hardware/security.nix
  modules/nix/default.nix
  modules/nix/index.nix
  modules/shell/default.nix
  modules/shell/zsh.nix
  modules/user/default.nix
  scripts/nixos.nix
  secrets/default.nix
Due: none

feat: Add `bash` Configuration
  README.md
  modules/README.md
  modules/default.nix
  modules/gui/gnome.nix
  modules/shell/bash.nix
  modules/shell/default.nix
  modules/shell/zsh.nix
  modules/user/default.nix
  modules/user/recovery.nix
  modules/user/security.nix
Due: none

fix: Use System Independent Library
  CHANGELOG.md
  LIMITATIONS.md
  README.md
  configuration.nix
  devices/README.md
  devices/Vortex.nix
  flake.lock
  flake.nix
  lib/build.nix
  modules/default.nix
  modules/nix/config.nix
  modules/shell/bash.nix
  modules/shell/default.nix
  modules/shell/zsh.nix
  modules/user/default.nix
  modules/user/home.nix
  repl.nix
Due: none

fix: Improve User Creation
  lib/build.nix
  modules/README.md
  modules/apps/git/default.nix
  modules/default.nix
  modules/user/default.nix
  modules/user/security.nix
Due: check

feat(`shells`): Add Support for Multiple Languages
  .github/workflows/shell.yml
  .gitlab/pipelines/shell.yml
  CHANGELOG.md
  modules/shell/zsh.nix
  scripts/nixos.nix
  shells/cc.nix
  shells/default.nix
  shells/go.nix
  shells/java.nix
  shells/lisp.nix
  shells/lua.nix
  shells/python.nix
  shells/rust.nix
  shells/video.nix
Due: shell

feat: Add `wine` Application Wrapper
  CHANGELOG.md
  README.md
  configuration.nix
  devices/Futura.nix
  devices/README.md
  devices/Vortex.nix
  files/ascii/groot
  files/default.nix
  flake.lock
  flake.nix
  modules/apps/firefox.nix
  modules/apps/office.nix
  modules/apps/wine/default.nix
  modules/apps/wine/wrapper.nix
  modules/base/firmware.nix
  modules/default.nix
  modules/user/security.nix
Due: none

feat: Support `source` Filters
  CHANGELOG.md
  README.md
  configuration.nix
  files/ascii/groot
  files/default.nix
  flake.lock
  flake.nix
  modules/apps/firefox.nix
  modules/base/console.nix
  modules/base/firmware.nix
  modules/default.nix
  modules/gui/gnome.nix
  modules/hardware/filesystem.nix
  modules/shell/default.nix
  modules/shell/zsh.nix
  modules/user/home.nix
  modules/user/security.nix
  packages/dotfiles.nix
  scripts/nixos.nix
  users/default.nix
  users/v7.nix
Due: none

fix: Add Wrapped `wine` Programs
  .gitignore
  LIMITATIONS.md
  devices/Futura.nix
  devices/README.md
  devices/Vortex.nix
  files/gnome/dconf.nix
  lib/types.nix
  modules/README.md
  modules/apps/git/default.nix
  modules/apps/wine/default.nix
  modules/apps/wine/wrapper.nix
  modules/nix/checks.nix
  modules/user/default.nix
  packages/wine/.git-keep
  packages/wine/7zip.nix
Due: none

feat(`git`): Add `gh` Support
  .github/workflows/update.yml
  flake.lock
  modules/apps/git/default.nix
  modules/apps/wine/default.nix
  modules/default.nix
  modules/hardware/filesystem.nix
  modules/user/default.nix
Due: check

fix: Library Implementation
  .github/workflows/check.yml
  .templates/minimal/flake.nix
  configuration.nix
  flake.lock
  flake.nix
  modules/apps/git/default.nix
  modules/default.nix
  modules/gui/default.nix
  modules/hardware/filesystem.nix
  modules/nix/checks.nix
  modules/nix/default.nix
  repl.nix
Due: check

feat: Add Firefox CSS
  files/default.nix
  files/firefox/userContent.css
  files/images/desktop.png
  modules/apps/firefox.nix
  modules/gui/gnome.nix
  scripts/README.md
  scripts/nixos.nix
Due: none

style(docs): UNIXPORN!!
  README.md
Due: none
