Repository maydayv7/dotfiles: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check, shell, website

.gitlab/pipelines/check.yml:

# Check Nix Syntax
check:
  stage: check
  only:
    changes:
      - '*.nix'
      - "**/*.nix"
  except:
    - tags
    - schedules
  script: nix flake check --keep-going

.gitlab/pipelines/shell.yml:

# Check Nix Developer Shells
shell:
  stage: check
  only:
    changes:
      - 'shells/*'
  variables:
    CACHIX_AUTH_TOKEN: $CACHIX_TOKEN
    CACHIX_CACHE_NAME: maydayv7-dotfiles
  parallel:
    matrix:
      - DEVSHELL: [java, video]
  before_script:
    - nix profile install nixpkgs#cachix
    - cachix use $CACHIX_CACHE_NAME
  script: cachix watch-exec $CACHIX_CACHE_NAME nix develop .#$DEVSHELL

.gitlab/pipelines/website.yml:

# Build and Deploy Website
website:
  stage: publish
  only:
    changes:
      - "site/*"
  except:
    - /^(?!stable).+@/
  script: nix build .#website
  after_script:
    - mkdir -p archive
    - cp -r ./result/* archive
  artifacts:
    paths:
      - 'archive/*'

deploy: 2053461c257faef29adc42c165c8581e6652cab1
  sample/index.html
  search_index.en.js
Due: none

deploy: 64f7c0566c453e5f0cde9fb4d91fde35c8117309
  sample/index.html
  search_index.en.js
Due: none

deploy: 23cad50583869b68e5106b4566b3b38d84ba4d3e
  sample/index.html
  search_index.en.js
Due: none

deploy: 155ae4ade5234958913fdb3b2cc41c8b366b7acc
  sample/index.html
  search_index.en.js
Due: none

feat: Add `gui.fonts.usrshare`
  files/gnome/dconf.nix
  modules/README.md
  modules/apps/office.nix
  modules/apps/vscode.nix
  modules/gui/fonts.nix
  modules/hardware/mobile.nix
  packages/overlays/discord.nix
  shells/go.nix
  site/content/anime.md
Due: check, shell

deploy: 7fb026ee9861e32ed8315582b444011ba6f5ded4
  anime/index.html
  sample/index.html
  search_index.en.js
Due: none

chore: Release v11
  README.md
  configuration.nix
  flake.nix
  packages/dotfiles.nix
Due: check

deploy: c77d5bd289fc88bcb5c767675199bab525d7a5de
  sample/index.html
  search_index.en.js
Due: none

deploy: 22f5fc8ba7423e887d87c70fd9e603d9ee177aed
  404.html
  about/index.html
  anime/index.html
  archive/index.html
  blog/hello/index.html
  blog/index.html
  blog/nix/index.html
  feeds/index.html
  index.html
  now/index.html
  projects/index.html
  sample/index.html
  series/index.html
  series/nixos-desktop/index.html
  tags/index.html
  tags/linux/index.html
  tags/misc/index.html
  tags/nix/index.html
  tags/nixos/index.html
Due: none

deploy: 8195ec48af6b794e988de523a1e6512e91099e33
  sample/index.html
  search_index.en.js
Due: none

chore: Update License Year
  LICENSE
Due: none

feat!: Upgrade to NixOS v22.11 (Raccoon)!
  .version
  README.md
  configuration.nix
  devices/Futura.nix
  devices/Vortex.nix
  files/default.nix
  files/gnome/dconf.nix
  files/xfce/panel.txt
  files/xfce/settings/displays.xml
  files/xfce/settings/xfce4-desktop.xml
  files/xfce/settings/xfce4-panel.xml
  flake.lock
  flake.nix
  modules/base/firmware.nix
  modules/default.nix
  modules/gui/gnome.nix
  modules/gui/xfce.nix
  modules/gui/xorg.nix
  modules/hardware/virtualisation.nix
  modules/nix/checks.nix
  modules/nix/default.nix
  modules/nix/format.nix
  modules/shell/bash.nix
  modules/shell/zsh.nix
  modules/user/passwords/v7.secret
  packages/adw-gtk3.nix
  packages/dotfiles.nix
  packages/firefox-gnome-theme/metadata.nix
  packages/fly-pie.nix
  packages/overlays/discord.nix
  packages/overlays/gnome-terminal.nix
  packages/overlays/mutter-rounded.nix
  packages/top-bar-organizer.nix
  scripts/nixos.nix
  site/content/anime.md
Due: check

deploy: 01fb19578be7dd06428565047e1c7592b1d26765
  anime/index.html
  blog/hello/index.html
  blog/nix/index.html
  processed_images/0200dbd1f4073ecd00.png
  processed_images/b8b3c8c2b5b074f700.png
  processed_images/cbbb703561e1d2be00.png
  processed_images/ebb44a5ac74474ec00.png
  robots.txt
  sample/index.html
  search_index.en.js
Due: none

fix: Fix Install Media Build
  files/gnome/dconf.nix
  modules/gui/gnome.nix
  modules/user/default.nix
  site/content/anime.md
Due: check

deploy: 9fbb242f944806822a2a9600eec0274c6e00ee61
  anime/index.html
  search_index.en.js
Due: none

site: Regular Updates
  modules/gui/xfce.nix
  site/content/anime.md
  site/content/now.md
Due: check

deploy: a0ac270d13e0d47a4ab0158bc2f3887882128657
  anime/index.html
  now/index.html
  search_index.en.js
Due: none

feat(WIP): Declaratively Configure Flatpak applications
  README.md
  configuration.nix
  devices/Vortex.nix
  files/default.nix
  files/flatpak/repos
  flake.lock
  flake.nix
  modules/README.md
  modules/apps/flatpak.nix
  modules/gui/gnome.nix
Due: check

feat(WIP): Recursively link declared Flatpak Runtimes
  README.md
  configuration.nix
  files/default.nix
  files/flatpak/repos
  modules/apps/flatpak.nix
  scripts/nixos.nix
Due: check

fix: Revert Runtime Symlinking
  modules/README.md
  modules/apps/flatpak.nix
  modules/gui/gnome.nix
Due: check

feat: Declaratively Configure Flatpak applications
  README.md
  configuration.nix
  devices/Vortex.nix
  files/default.nix
  files/flatpak/repos
  flake.lock
  flake.nix
  modules/README.md
  modules/apps/flatpak.nix
  modules/gui/gnome.nix
  scripts/nixos.nix
Due: check

style: Update README
  README.md
  files/images/desktop.png
Due: none

fix: Multiple Fixes
  .gitattributes
  README.md
  files/discord/plugins/CreationDate.plugin.js
  files/discord/plugins/DoubleClickToEdit.plugin.js
  files/discord/plugins/ReadAllNotificationsButton.plugin.js
  files/discord/plugins/ShowHiddenChannels.plugin.js
  files/discord/plugins/SplitLargeMessages.plugin.js
  files/discord/plugins/TypingUsersAvatars.plugin.js
  modules/apps/flatpak.nix
  site/content/anime.md
  site/content/now.md
Due: check

deploy: d805ef2e08de8b2e267e44a4019a2439d928078b
  anime/index.html
  now/index.html
  search_index.en.js
Due: none

feat(GNOME): Support Gradience
  files/README.md
  files/default.nix
  files/flatpak/overrides
  modules/README.md
  modules/apps/flatpak.nix
  modules/gui/gnome.nix
  site/content/anime.md
Due: check

deploy: 072264eb56e04efa283a643ce760f88adc50be0a
  anime/index.html
  search_index.en.js
Due: none

fix(site): Update Test Page
  site/content/about.md
  site/content/sample.md
Due: none

deploy: 1ae0d9cf489f9667f6f3536856bc439980c511a7
  about/index.html
  sample/index.html
  search_index.en.js
Due: none

feat(packages): Improve `update.sh`
  README.md
  modules/apps/flatpak.nix
  modules/gui/gnome.nix
  modules/user/passwords/navya.secret
  modules/user/passwords/root.secret
  modules/user/passwords/v7.secret
  packages/adw-gtk3/default.nix
  packages/adw-gtk3/metadata.nix
  packages/firefox-gnome-theme/metadata.nix
  packages/top-bar-organizer.nix
  packages/wine/7zip.nix
  scripts/packages.sh
  site/content/sample.md
Due: check

style(GNOME): Desktop Integration
  README.md
  files/gnome/dconf.nix
  files/vscode/settings.json
  modules/apps/vscode.nix
  modules/gui/gnome.nix
  packages/kvlibadwaita/default.nix
  packages/kvlibadwaita/metadata.nix
  scripts/packages.sh
Due: check

feat: Use SystemD `initrd`
  devices/Vortex.nix
  modules/hardware/filesystem.nix
Due: check

feat: Enable ZFS Pool Encryption
  scripts/nixos.nix
  scripts/partitions.sh
Due: check

fix(install): Name ESP Partition
  scripts/partitions.sh
Due: none

fix(install): Modify ZFS Pool Creation
  scripts/partitions.sh
Due: none

test: Temporarily disable Plymouth
  modules/hardware/boot.nix
Due: check

fix: Remove unneeded mount
  modules/hardware/filesystem.nix
Due: check

feat!: Upgrade to NixOS 23.05 (Stoat)
  README.md
  configuration.nix
  devices/vm/Windows.nix
  files/default.nix
  files/gnome/dconf.nix
  files/gnome/nix.lang
  files/gnome/tango-dark.xml
  flake.lock
  flake.nix
  modules/base/default.nix
  modules/base/firmware.nix
  modules/gui/gnome.nix
  modules/gui/xfce.nix
  modules/hardware/boot.nix
  modules/shell/zsh.nix
  scripts/nixos.nix
  site/content/anime.md
Due: check

refactor!: Drop `flatpak` Support
  README.md
  configuration.nix
  files/README.md
  files/default.nix
  files/flatpak/repos
  flake.lock
  flake.nix
  modules/README.md
  modules/apps/flatpak.nix
  modules/gui/gnome.nix
Due: check

feat!: Upgrade to NixOS 23.05 (Stoat)
  README.md
  configuration.nix
  devices/Vortex.nix
  devices/vm/Windows.nix
  files/README.md
  files/default.nix
  files/flatpak/repos
  files/gnome/dconf.nix
  files/gnome/nix.lang
  files/gnome/tango-dark.xml
  flake.lock
  flake.nix
  modules/README.md
  modules/apps/flatpak.nix
  modules/base/default.nix
  modules/base/firmware.nix
  modules/gui/gnome.nix
  modules/gui/xfce.nix
  modules/hardware/boot.nix
  modules/hardware/filesystem.nix
  modules/shell/zsh.nix
  scripts/nixos.nix
  scripts/partitions.sh
  site/content/anime.md
Due: check

deploy: 26776dbdcc8c7a67495506c78132e9124e517ea9
  404.html
  about/index.html
  anime/index.html
  archive/index.html
  blog/hello/index.html
  blog/index.html
  blog/nix/index.html
  blog/rss.xml
  color/black.css
  color/blue.css
  color/red.css
  feeds/index.html
  fonts.css
  index.html
  now/index.html
  processed_images/0200dbd1f4073ecd00.png
  processed_images/b8b3c8c2b5b074f700.png
  processed_images/cbbb703561e1d2be00.png
  processed_images/ebb44a5ac74474ec00.png
  processed_images/github.7bd8e559e0295e12.png
  processed_images/mail.8ef27abdbcc6b421.png
  processed_images/reddit.a79a427ef16b70e5.png
  processed_images/rss.50a983dd8fb80d6f.png
  projects/index.html
  sample/index.html
  search_index.en.js
  series/index.html
  series/nixos-desktop/index.html
  series/nixos-desktop/rss.xml
  style.css
  tags/index.html
  tags/linux/index.html
  tags/linux/rss.xml
  tags/misc/index.html
  tags/misc/rss.xml
  tags/nix/index.html
  tags/nix/rss.xml
  tags/nixos/index.html
  tags/nixos/rss.xml
Due: none
