Repository maydayv7/dotfiles: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check, shell, website

check:
  stage: check
  script: nix flake check --keep-going

shell:
  stage: check
  variables:
    CACHIX_AUTH_TOKEN: $CACHIX_TOKEN
    CACHIX_CACHE_NAME: maydayv7-dotfiles
  parallel:
    matrix:
    - DEVSHELL:
      - java
      - video
  before_script:
  - nix profile install nixpkgs#cachix
  - cachix use $CACHIX_CACHE_NAME
  ...

website:
  stage: publish
  script: nix build .#website
  after_script:
  - mkdir -p archive
  - cp -r ./result/* archive
  artifacts:
    paths:
    - archive/*

feat: Update GNOME Experience
  .version
  README.md
  files/README.md
  files/archive/Linux/Pop/conky/conky.lua
  files/default.nix
  files/gnome/dconf.nix
  files/touchegg/touchegg.conf
  files/vscode/settings.json
  modules/base/firmware.nix
  modules/gui/gnome.nix
  modules/nix/checks.nix
  packages/dotfiles.nix
  packages/fly-pie.nix
  scripts/packages.sh
  shells/python.nix
Due: check, shell

feat: Android Virtualization using Waydroid
  README.md
  devices/Vortex.nix
  files/default.nix
  files/gnome/dconf.nix
  files/gnome/menu.json
  modules/README.md
  modules/gui/gnome.nix
  modules/hardware/virtualisation.nix
Due: check

fix!: Rework Opt-In State Configuration
  README.md
  configuration.nix
  files/archive/Linux/Arch/COMMANDS.md
  files/gnome/dconf.nix
  files/gnome/menu.json
  modules/apps/discord.nix
  modules/apps/firefox.nix
  modules/apps/git/default.nix
  modules/apps/git/hosting.nix
  modules/apps/office.nix
  modules/apps/vscode.nix
  modules/apps/wine.nix
  modules/base/firmware.nix
  modules/gui/gnome.nix
  modules/gui/xfce.nix
  modules/hardware/filesystem.nix
  modules/hardware/virtualisation.nix
  modules/hardware/virtualisation/android.nix
  modules/hardware/virtualisation/default.nix
  modules/nix/default.nix
  modules/nix/index.nix
  modules/shell/bash.nix
  modules/shell/default.nix
  modules/shell/zsh.nix
  modules/user/default.nix
  scripts/nixos.nix
  secrets/default.nix
  site/content/anime.md
  site/content/now.md
Due: check

deploy: 91d5d2bc6b5a8b1cf133968ae62889d04d20af6f
  anime/index.html
  now/index.html
  search_index.en.js
Due: none

refactor: Drop Unnecessary Packages
  README.md
  flake.lock
  flake.nix
  lib/README.md
  lib/compat/build.nix
  lib/compat/flake.nix
  lib/compat/nixos/default.nix
  lib/compat/shell.nix
  modules/apps/office.nix
  modules/apps/vscode.nix
  modules/hardware/virtualisation/android.nix
Due: check

fix: Update XFCE Configuration
  README.md
  files/default.nix
  files/discord/theme.css
  files/images/desktop.png
  files/images/desktop/gnome.png
  files/images/desktop/xfce.png
  files/xfce/gtk.css
  files/xfce/panel/whiskermenu-15.rc
  files/xfce/settings/xfce4-notifyd.xml
  files/xfce/settings/xfce4-panel.xml
  modules/gui/xfce.nix
Due: check

fix: Fix README Syntax
  README.md
Due: none

feat: Support Network Printing
  README.md
  modules/gui/gnome.nix
  modules/hardware/filesystem.nix
  modules/hardware/printer.nix
Due: check

fix: Change `iso` Locales
  configuration.nix
Due: check

refactor: Move out `git` Secrets
  .templates/minimal/flake.nix
  README.md
  devices/Futura.nix
  devices/README.md
  devices/Vortex/default.nix
  devices/Vortex/secrets/cloudflare.secret
  devices/Vortex/secrets/default.nix
  devices/Vortex/secrets/github-runner.secret
  devices/Vortex/secrets/github-token.secret
  devices/Vortex/secrets/gitlab-runner.secret
  devices/Vortex/secrets/gitlab-token.secret
  modules/README.md
  modules/apps/git/default.nix
  modules/apps/git/hosting.nix
  modules/apps/git/runner.nix
  modules/apps/git/secrets/.git-keep
  modules/gui/gnome.nix
  packages/adw-gtk3/default.nix
  packages/adw-gtk3/metadata.nix
  secrets/.sops.yaml
  secrets/README.md
  site/content/anime.md
  users/README.md
Due: check

deploy: 73be1ef1a321c82c25b959214399f52c9b86c859
  anime/index.html
  search_index.en.js
Due: none

chore(site): Update List
  site/content/anime.md
Due: none

deploy: 7b4985791f7f5905e9ac8bf384a9c2cb7184cc3a
  anime/index.html
  search_index.en.js
Due: none

fix: Improve `nix-index`
  README.md
  configuration.nix
  flake.lock
  flake.nix
  modules/apps/wine.nix
  modules/nix/index.nix
  modules/shell/bash.nix
  modules/shell/default.nix
  modules/shell/zsh.nix
Due: check

feat!: Switch to NixOS Unstable
  README.md
  configuration.nix
  devices/Futura.nix
  devices/README.md
  devices/Vortex/default.nix
  files/gnome/dconf.nix
  files/plank/dock.desktop
  flake.lock
  flake.nix
  modules/apps/firefox.nix
  modules/apps/office.nix
  modules/apps/vscode.nix
  modules/base/firmware.nix
  modules/default.nix
  modules/gui/default.nix
  modules/gui/fonts.nix
  modules/gui/gnome.nix
  modules/gui/theme.nix
  modules/gui/xfce.nix
  modules/hardware/filesystem.nix
  modules/nix/config.nix
  modules/shell/default.nix
  modules/user/security.nix
  packages/dotfiles.nix
  secrets/README.md
  site/content/anime.md
  site/sass/_main.scss
  site/sass/_post.scss
  site/static/js/clipboard.js
  site/static/js/footnote.js
  site/static/js/katex.js
  site/static/js/mobile.js
  site/static/js/search.js
  site/static/js/theme.js
  site/static/math/auto-render.js
  site/static/math/katex.css
  site/static/math/mathtex-script-type.js
  site/templates/base.html
Due: check

style: Add Color Schemes
  .prettierignore
  README.md
  files/README.md
  files/colors/adwaita-dark.yaml
  files/colors/adwaita.yaml
  files/colors/arc-dark.yaml
  files/default.nix
  files/gnome/dconf.nix
  flake.lock
  flake.nix
  modules/gui/default.nix
  modules/gui/gnome.nix
  modules/gui/theme.nix
  modules/gui/xfce.nix
  modules/hardware/virtualisation/default.nix
  modules/nix/default.nix
  modules/user/security.nix
  packages/fly-pie.nix
Due: check

feat: Rework Recovery Settings
  README.md
  devices/Vortex/default.nix
  files/gnome/dconf.nix
  modules/README.md
  modules/base/firmware.nix
  modules/default.nix
  modules/hardware/boot.nix
  modules/hardware/filesystem.nix
  modules/user/default.nix
  modules/user/security.nix
  scripts/nixos.nix
  users/README.md
Due: check

feat: Drop `deploy-rs` Support
  .templates/default.nix
  README.md
  configuration.nix
  flake.lock
  flake.nix
  lib/build.nix
  lib/default.nix
  modules/apps/default.nix
  modules/hardware/default.nix
  modules/hardware/security.nix
  modules/nix/checks.nix
  modules/nix/default.nix
  modules/nix/deploy.nix
  modules/shell/default.nix
  scripts/nixos.nix
  secrets/default.nix
Due: check

feat: Remove `inputs` Patch Support
  README.md
  configuration.nix
  lib/build.nix
  modules/nix/default.nix
  modules/nix/tools.nix
  packages/patches/.git-keep
  scripts/nixos.nix
  shells/format.nix
Due: check, shell

deploy: 9ad8a7dc7deb0f8709317207127d16b5ea117fe3
  404.html
  about/index.html
  anime/index.html
  archive/index.html
  blog/hello/index.html
  blog/index.html
  blog/nix/index.html
  feeds/index.html
  index.html
  js/clipboard.js
  js/footnote.js
  js/katex.js
  js/mobile.js
  js/search.js
  js/theme.js
  math/auto-render.js
  math/katex.css
  math/mathtex-script-type.js
  now/index.html
  projects/index.html
  sample/index.html
  search_index.en.js
  series/index.html
  series/nixos-desktop/index.html
  tags/index.html
  tags/linux/index.html
  tags/misc/index.html
  tags/nix/index.html
  tags/nixos/index.html
Due: none

fix(`nixos install`): Add `--first-boot` flag
  .templates/minimal/flake.nix
  README.md
  packages/dotfiles.nix
  scripts/commands.sh
  scripts/nixos.nix
Due: check

fix: Clean up `inputs`
  .version
  README.md
  configuration.nix
  flake.lock
  flake.nix
  lib/build.nix
  lib/default.nix
  modules/default.nix
  systems.nix
Due: check

fix(ci): Relative Flake Inputs
  .github/workflows/build.yml
  .github/workflows/check.yml
  .github/workflows/release.yml
  .github/workflows/shell.yml
  .github/workflows/update.yml
  .github/workflows/website.yml
Due: none

feat(`lib`): Add Conditional to `map.files`
  README.md
  configuration.nix
  devices/systems.nix
  flake.lock
  flake.nix
  lib/README.md
  lib/map.nix
Due: check

docs: Update README
  README.md
Due: none

refactor: Create `modules/gui/desktop`
  modules/gui/default.nix
  modules/gui/desktop/gnome.nix
  modules/gui/desktop/xfce.nix
Due: check

fix: Remove `lib.types`
  README.md
  configuration.nix
  lib/README.md
  lib/types.nix
  modules/user/default.nix
  scripts/README.md
  scripts/nixos.nix
Due: check

fix!: Build Successfully
  .templates/minimal/flake.nix
  lib/map.nix
  modules/default.nix
  modules/gui/default.nix
  modules/gui/desktop/gnome.nix
  modules/gui/desktop/xfce.nix
Due: check

style: Fix Color Schemes
  files/colors/adwaita-dark.yaml
  files/colors/adwaita.yaml
  files/colors/arc.yaml
  modules/gui/desktop/gnome.nix
  modules/gui/desktop/xfce.nix
Due: check

feat: Add `gui.{wallpaper,wayland}`
  README.md
  configuration.nix
  devices/Vortex/default.nix
  files/default.nix
  files/gnome/dconf.nix
  files/xfce/settings/xfce4-desktop.xml
  modules/README.md
  modules/apps/firefox.nix
  modules/gui/default.nix
  modules/gui/desktop/gnome.nix
  modules/gui/desktop/xfce.nix
  modules/gui/theme.nix
  modules/gui/wayland.nix
  modules/user/default.nix
Due: check

feat: Update Security Settings
  .gitattributes
  README.md
  devices/.git-keep
  devices/.keep
  files/archive/.git-keep
  files/archive/.keep
  modules/hardware/filesystem.nix
  modules/hardware/security.nix
  modules/user/passwords/.git-keep
  modules/user/passwords/.keep
  packages/overlays/.git-keep
  packages/overlays/.keep
  packages/wine/.git-keep
  packages/wine/.keep
  scripts/nixos.nix
Due: check

fix(github): Fix Language Statistics
  .gitattributes
Due: none

fix: Multiple Fixes
  .github/workflows/release.yml
  .gitlab/pipelines/build.yml
  README.md
  configuration.nix
  devices/Futura.nix
  devices/Vortex/default.nix
  lib/build.nix
  modules/README.md
  modules/apps/firefox.nix
  modules/default.nix
  modules/gui/desktop/xfce.nix
  modules/nix/default.nix
  modules/shell/default.nix
  modules/user/home.nix
Due: check

feat: Update GNOME Experience
  README.md
  files/default.nix
  files/gnome/dconf.nix
  files/gnome/shortcuts.json
  files/gnome/tiling.css
  modules/gui/desktop/gnome.nix
  modules/user/home.nix
  scripts/README.md
  scripts/nixos.nix
Due: check

Path conditions:
  check: any of: *.nix, **/*.nix
  shell: any of: shells/*
  website: any of: site/*
