Repository maydayv7/dotfiles: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check, shell

.gitlab/pipelines/check.yml:

# Check Nix Syntax
check:
  stage: check
  only:
    changes:
      - '*.nix'
      - "**/*.nix"
  except:
    - tags
    - schedules
  script: nix flake check --keep-going

.gitlab/pipelines/shell.yml:

# Check Nix Developer Shells
shell:
  stage: check
  only:
    changes:
      - 'shells/*'
  variables:
    CACHIX_AUTH_TOKEN: $CACHIX_TOKEN
    CACHIX_CACHE_NAME: maydayv7-dotfiles
  parallel:
    matrix:
      - DEVSHELL: [java, video]
  before_script:
    - nix profile install nixpkgs#cachix
    - cachix use $CACHIX_CACHE_NAME
  script: cachix watch-exec $CACHIX_CACHE_NAME nix develop .#$DEVSHELL

feat: Improve VM Configuration
  CHANGELOG.md
  LIMITATIONS.md
  README.md
  configuration.nix
  files/gnome/dconf.nix
  flake.lock
  flake.nix
  modules/README.md
  modules/apps/wine.nix
  modules/apps/wine/wrapper.nix
  modules/default.nix
  modules/hardware/virtualisation/README.md
  modules/hardware/virtualisation/default.nix
  modules/hardware/virtualisation/windows.nix
  modules/nix/default.nix
  packages/dotfiles.nix
  packages/fly-pie.nix
  packages/fonts.nix
  packages/top-bar-organizer.nix
  packages/wine/7zip.nix
  scripts/nixos.nix
Due: check

feat(shells): Add `lorri` Integration
  README.md
  modules/shell/default.nix
  shells/.envrc
  shells/default.nix
Due: check, shell

feat(packages): Automatic Updates
  .github/workflows/update.yml
  .gitlab/pipelines/update.yml
  .templates/minimal/.gitignore
  README.md
  configuration.nix
  files/default.nix
  flake.lock
  flake.nix
  modules/gui/gnome.nix
  packages/README.md
  packages/firefox-gnome-theme/default.nix
  packages/firefox-gnome-theme/metadata.nix
  packages/update.sh
  scripts/nixos.nix
  scripts/packages.sh
Due: check

feat: Add XFCE Desktop Configuration
  .github/workflows/release.yml
  .gitlab/pipelines/build.yml
  README.md
  configuration.nix
  files/default.nix
  files/gtk/bookmarks
  files/plank/dock.desktop
  files/plank/dock.theme
  files/plank/launchers/firefox.dockitem
  files/plank/launchers/org.xfce.mousepad.dockitem
  files/plank/launchers/thunar.dockitem
  files/plank/launchers/xfce-settings-manager.dockitem
  files/plank/launchers/xfce4-terminal.dockitem
  files/xfce/gtk.css
  files/xfce/panel.txt
  files/xfce/settings/displays.xml
  files/xfce/settings/keyboards.xml
  files/xfce/settings/parole.xml
  files/xfce/settings/pointers.xml
  files/xfce/settings/thunar-volman.xml
  files/xfce/settings/thunar.xml
  files/xfce/settings/xfce4-appfinder.xml
  files/xfce/settings/xfce4-desktop.xml
  files/xfce/settings/xfce4-keyboard-shortcuts.xml
  files/xfce/settings/xfce4-notifyd.xml
  files/xfce/settings/xfce4-panel.xml
  files/xfce/settings/xfce4-power-manager.xml
  files/xfce/settings/xfce4-session.xml
  files/xfce/settings/xfce4-settings-editor.xml
  files/xfce/settings/xfce4-settings-manager.xml
  files/xfce/settings/xfwm4.xml
  files/xfce/settings/xsettings.xml
  files/xfce/terminalrc
  lib/build.nix
  modules/apps/wine.nix
  modules/gui/default.nix
  modules/gui/gnome.nix
  modules/gui/xfce.nix
  modules/gui/xorg.nix
  packages/firefox-gnome-theme/default.nix
Due: check

feat(`git`): Support Gitea Hosting
  modules/README.md
  modules/apps/git/default.nix
  modules/apps/git/hosting.nix
Due: check

fix: Multiple Refinements
  README.md
  configuration.nix
  devices/vm/README.md
  devices/vm/Windows.nix
  files/README.md
  flake.lock
  flake.nix
  lib/build.nix
  modules/base/console.nix
  modules/hardware/virtualisation.nix
  modules/hardware/virtualisation/README.md
  packages/README.md
  packages/dotfiles.nix
  scripts/commands.sh
  scripts/nixos.nix
Due: check

style: Format using `prettier`
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/help-request.md
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/check.yml
  .github/workflows/release.yml
  .github/workflows/shell.yml
  .github/workflows/update.yml
  .gitlab/.gitlab-ci.yml
  .gitlab/issue_templates/Bug.md
  .gitlab/issue_templates/Help.md
  .gitlab/pipelines/check.yml
  .gitlab/pipelines/release.yml
  .gitlab/pipelines/shell.yml
  .templates/README.md
  README.md
  devices/README.md
  devices/vm/README.md
  devices/vm/Windows.nix
  files/README.md
  files/archive/Linux/Arch/COMMANDS.md
  files/archive/Linux/Arch/INSTALL.md
  files/archive/Windows/APPS.md
  files/firefox/userContent.css
  files/gnome/gnome-shell.css
  lib/README.md
  modules/README.md
  modules/nix/checks.nix
  packages/README.md
  scripts/README.md
  scripts/nixos.nix
  secrets/.sops.yaml
  secrets/README.md
  users/README.md
Due: check

fix: Download Package only when Required
  README.md
  packages/overlays/discord.nix
  packages/wine/7zip.nix
Due: check

docs: Link to Blog
  README.md
  files/gtk/bookmarks
  flake.lock
  flake.nix
  modules/nix/checks.nix
Due: check

fix: Refine Compatibility Libraries
  README.md
  configuration.nix
  default.nix
  lib/compat/build.nix
  lib/compat/flake.nix
  lib/compat/nixos/default.nix
  lib/compat/shell.nix
  lib/default.nix
  lib/map.nix
  modules/base/console.nix
  modules/shell/default.nix
  modules/shell/zsh.nix
  repl.nix
  scripts/nixos.nix
  shells/default.nix
  users/default.nix
Due: check, shell

docs: Aim for the Stars!
  README.md
Due: none

refactor: Add `keys` Submodule
  .gitmodules
  flake.nix
  lib/README.md
  scripts/nixos.nix
  secrets/README.md
  users/default.nix
  users/keys/.gitattributes
  users/keys/navya.gpg
  users/keys/v7.gpg
Due: check

feat(`gnome`): Add Extensions
  files/gnome/dconf.nix
  flake.lock
  modules/README.md
  modules/gui/gnome.nix
  modules/nix/checks.nix
  users/default.nix
  users/navya.nix
  users/v7.nix
Due: check

fix(`git`): Use Global Hooks
  README.md
  files/README.md
  files/default.nix
  files/git/hooks/commit-msg
  files/git/hooks/pre-commit
  lib/compat/flake.nix
  modules/apps/git/default.nix
  scripts/README.md
  scripts/nixos.nix
Due: check

fix: Add `format` Shell
  .github/workflows/shell.yml
  .github/workflows/update.yml
  .gitlab/pipelines/shell.yml
  files/gnome/dconf.nix
  flake.lock
  modules/user/default.nix
  shells/format.nix
Due: check, shell

fix!: Upgrade Nix Version
  .templates/README.md
  README.md
  configuration.nix
  packages/overlays/nixFlakes.nix
  scripts/nixos.nix
Due: check

fix: Host `gitea` with Cloudflare
  modules/apps/git/default.nix
  modules/apps/git/hosting.nix
  modules/apps/git/runner.nix
  modules/apps/git/secrets/cloudflare.secret
Due: check

feat: Add Proprietary Software
  .prettierignore
  LICENSE
  README.md
  files/README.md
  files/default.nix
  files/proprietary/LICENSE
  files/proprietary/README.md
  files/proprietary/default.nix
  files/proprietary/discord/plugins/CreationDate.plugin.js
  files/proprietary/discord/plugins/ShowHiddenChannels.plugin.js
  files/proprietary/discord/plugins/TypingUsersAvatars.plugin.js
  files/proprietary/fonts/ms-core/arial.ttf
  files/proprietary/fonts/ms-core/calibri.ttf
  files/proprietary/fonts/ms-core/cour.ttf
  files/proprietary/fonts/ms-core/symbol.ttf
  files/proprietary/fonts/ms-core/times.ttf
  files/proprietary/fonts/ms-core/wingding.ttf
  files/proprietary/fonts/oneplus-slate/OnePlusSlate-Black.ttf
  files/proprietary/fonts/oneplus-slate/OnePlusSlate-Bold.ttf
  files/proprietary/fonts/oneplus-slate/OnePlusSlate-Book.ttf
  files/proprietary/fonts/oneplus-slate/OnePlusSlate-Light.ttf
  files/proprietary/fonts/oneplus-slate/OnePlusSlate-Medium.ttf
  files/proprietary/fonts/oneplus-slate/OnePlusSlate-Regular.ttf
  files/proprietary/fonts/oneplus-slate/OnePlusSlate-Thin.ttf
  files/proprietary/fonts/product-sans/ProductSans-Black.ttf
  files/proprietary/fonts/product-sans/ProductSans-BlackItalic.ttf
  files/proprietary/fonts/product-sans/ProductSans-Bold.ttf
  files/proprietary/fonts/product-sans/ProductSans-BoldItalic.ttf
  files/proprietary/fonts/product-sans/ProductSans-Italic.ttf
  files/proprietary/fonts/product-sans/ProductSans-Light.ttf
  files/proprietary/fonts/product-sans/ProductSans-LightItalic.ttf
  files/proprietary/fonts/product-sans/ProductSans-Medium.ttf
  files/proprietary/fonts/product-sans/ProductSans-MediumItalic.ttf
  files/proprietary/fonts/product-sans/ProductSans-Regular.ttf
  files/proprietary/fonts/product-sans/ProductSans-Thin.ttf
  files/proprietary/fonts/product-sans/ProductSans-ThinItalic.ttf
  flake.lock
  flake.nix
Due: check

chore: Fix Licensing Issues
  .prettierignore
  LICENSE
  README.md
  files/README.md
  files/default.nix
  files/discord/plugins/CreationDate.plugin.js
  files/discord/plugins/ShowHiddenChannels.plugin.js
  files/discord/plugins/TypingUsersAvatars.plugin.js
  files/fonts/proprietary/ms-core/arial.ttf
  files/fonts/proprietary/ms-core/calibri.ttf
  files/fonts/proprietary/ms-core/cour.ttf
  files/fonts/proprietary/ms-core/symbol.ttf
  files/fonts/proprietary/ms-core/times.ttf
  files/fonts/proprietary/ms-core/wingding.ttf
  files/fonts/proprietary/oneplus-slate/OnePlusSlate-Black.ttf
  files/fonts/proprietary/oneplus-slate/OnePlusSlate-Bold.ttf
  files/fonts/proprietary/oneplus-slate/OnePlusSlate-Book.ttf
  files/fonts/proprietary/oneplus-slate/OnePlusSlate-Light.ttf
  files/fonts/proprietary/oneplus-slate/OnePlusSlate-Medium.ttf
  files/fonts/proprietary/oneplus-slate/OnePlusSlate-Regular.ttf
  files/fonts/proprietary/oneplus-slate/OnePlusSlate-Thin.ttf
  files/fonts/proprietary/product-sans/ProductSans-Black.ttf
  files/fonts/proprietary/product-sans/ProductSans-BlackItalic.ttf
  files/fonts/proprietary/product-sans/ProductSans-Bold.ttf
  files/fonts/proprietary/product-sans/ProductSans-BoldItalic.ttf
  files/fonts/proprietary/product-sans/ProductSans-Italic.ttf
  files/fonts/proprietary/product-sans/ProductSans-Light.ttf
  files/fonts/proprietary/product-sans/ProductSans-LightItalic.ttf
  files/fonts/proprietary/product-sans/ProductSans-Medium.ttf
  files/fonts/proprietary/product-sans/ProductSans-MediumItalic.ttf
  files/fonts/proprietary/product-sans/ProductSans-Regular.ttf
  files/fonts/proprietary/product-sans/ProductSans-Thin.ttf
  files/fonts/proprietary/product-sans/ProductSans-ThinItalic.ttf
  files/proprietary/LICENSE
  files/proprietary/README.md
  files/proprietary/default.nix
Due: check

fix: Cleanup and Fixes
  README.md
  configuration.nix
  default.nix
  modules/README.md
  modules/apps/git/hosting.nix
  modules/hardware/filesystem.nix
  modules/hardware/printer.nix
  modules/hardware/virtualisation.nix
  packages/website.nix
  repl.nix
  scripts/nixos.nix
  shells/default.nix
  site/README.md
  site/netlify.toml
  site/shell.nix
  users/default.nix
Due: check, shell

docs(site): Include Vercel
  README.md
  site/README.md
Due: none

fix(ci): Deploy Website to Custom Domain
  .github/workflows/website.yml
  README.md
  scripts/README.md
  scripts/nixos.nix
  site/README.md
  site/content/now.md
  site/image.png
  site/themes.png
Due: check

fix: Build Successfully
  configuration.nix
  flake.lock
  flake.nix
  modules/nix/checks.nix
  packages/overlays/nixFlakes.nix
  site/README.md
Due: check

fix(site): Minor Refinements
  configuration.nix
  files/default.nix
  packages/overlays/discord.nix
  packages/overlays/nixFlakes.nix
  site/config.toml
  site/sass/_comments.scss
  site/static/js/clipboard.js
  site/static/js/comments.js
  site/templates/macros/edit.html
  site/templates/macros/footer.html
  site/templates/page.html
Due: check

feat(site): Use Giscus Comments
  site/README.md
  site/config.toml
  site/templates/macros/comments.html
Due: none

fix(site): Smooth Scrolling
  site/sass/_comments.scss
  site/sass/_main.scss
Due: none

feat: Refine Scripts
  .github/workflows/update.yml
  .gitlab/.gitlab-webide.yml
  .gitlab/pipelines/build.yml
  .gitlab/pipelines/update.yml
  README.md
  configuration.nix
  files/default.nix
  files/git/hooks/pre-commit
  flake.lock
  flake.nix
  lib/README.md
  lib/build.nix
  lib/compat/flake.nix
  lib/map.nix
  modules/apps/wine.nix
  modules/default.nix
  modules/gui/default.nix
  modules/gui/gnome.nix
  modules/gui/xfce.nix
  modules/hardware/filesystem.nix
  modules/nix/deploy.nix
  modules/user/default.nix
  modules/user/security.nix
  packages/overlays/gnome-terminal.nix
  packages/overlays/nixFlakes.nix
  repl.nix
  scripts/README.md
  scripts/colors.sh
  scripts/commands.sh
  scripts/mail.sh
  scripts/nixos.nix
  scripts/packages.sh
  scripts/partitions.sh
  scripts/pci.sh
Due: check

feat: Support Visual Studio Code Editor
  README.md
  devices/Vortex.nix
  files/README.md
  files/default.nix
  files/gnome/dconf.nix
  files/images/wallpapers/Beauty.jpg
  files/images/wallpapers/City.jpg
  files/images/wallpapers/Neon.jpg
  files/images/wallpapers/Sunrise.jpg
  files/vscode/keybindings.json
  files/vscode/settings.json
  lib/README.md
  lib/build.nix
  lib/xdg.nix
  modules/apps/firefox.nix
  modules/apps/git/default.nix
  modules/apps/office.nix
  modules/apps/vscode.nix
  modules/gui/gnome.nix
Due: check

fix: Host SSH Key Generation
  README.md
  files/vscode/keybindings.json
  flake.nix
  modules/base/firmware.nix
  packages/dotfiles.nix
  site/content/blog/nix.md
Due: check

fix(boot): Mount Necessary Filesystems on Boot
  modules/apps/vscode.nix
  modules/base/console.nix
  modules/hardware/filesystem.nix
Due: check

fix: Minor Servicing
  .github/workflows/update.yml
  configuration.nix
  files/default.nix
  files/gnome/dconf.nix
  files/images/site.png
  modules/apps/vscode.nix
  packages/website.nix
  shells/default.nix
  shells/format.nix
  site/README.md
Due: check, shell

fix!: Abolish `git-crypt` Usage
  .git-crypt/.gitattributes
  .git-crypt/keys/default/0/8C240C0C11293EE56260601CCF616EB19C2765E4.gpg
  .git-crypt/keys/default/0/B141E0D9F711DD86DEAE1269D9B023AB01B68EFE.gpg
  .gitmodules
  README.md
  configuration.nix
  files/default.nix
  files/gpg/.gitattributes
  files/gpg/S.gpg-agent
  files/gpg/S.gpg-agent.browser
  files/gpg/S.gpg-agent.extra
  files/gpg/S.gpg-agent.ssh
  files/gpg/private-keys-v1.d/4B6F664FFE2A60113EE1902A5BB08F152E72FC1E.key
  files/gpg/private-keys-v1.d/840425F84419508B2199B98994A06D23E36BB658.key
  files/gpg/private-keys-v1.d/CB4B161223129E6F027B605A9AB21B40096E9121.key
  files/gpg/private-keys-v1.d/D96FF8C98B84804F88D1251719636F2E81D8A7D5.key
  files/gpg/pubring.kbx
  modules/hardware/filesystem.nix
  scripts/README.md
  scripts/commands.sh
  scripts/nixos.nix
  secrets/README.md
  secrets/default.nix
  secrets/keys/.gitattributes
  secrets/keys/navya.gpg
  secrets/keys/v7.gpg
  shells/default.nix
  users/default.nix
Due: check, shell

docs: Archive Commits
  README.md
  secrets/README.md
Due: none

chore: Add LICENSE
  LICENSE
Due: none

feat(ci): Add GitLab CI/CD
  .gitlab/.gitlab-ci.yml
  .gitlab/.gitlab-webide.yml
  .gitlab/issue_templates/Bug.md
  .gitlab/issue_templates/Feature.md
  .gitlab/issue_templates/Help.md
  .gitlab/pipelines/build.yml
  .gitlab/pipelines/check.yml
  .gitlab/pipelines/release.yml
  .gitlab/pipelines/shell.yml
  .gitlab/pipelines/update.yml
Due: none
